{% extends "base_recommend.html" %}
{% block title %}Tornado.Index{% end %}
{% block styles %}
 <style>
 </style>
{% end %}
{% block content %}
<div id="fullpage">
    <section class="recommend-header section">
        <div class="title-inner">
            <div class="title">
                <div class="text-center main-title">
                    好&nbsp;荐
                </div>
                <div class="text-center sub-title">
                    值得推荐的产品...
                </div>
            </div>

        </div>
        <div class="author">
            Photo by: Ada阿达
        </div>
    </section>
    <section class="section">
        <canvas id="canvas-basic" class="color-bg"></canvas>
        <div class="section-header">
            值得推荐的软件
        </div>
        <div class="section-content">
            <div class="intro">
            </div>
            <div class="text-center cl">
                <div class="ccard">
                    <div class="ccard-logo">
                        <img src="/assets/images/recommend/ss.png">
                    </div>
                    <div class="ccard-content">
                        <div class="ccard-title">
                            ShadowSocks
                        </div>
                        <div class="ccard-sub-content">
                            <pre>
                                Shadowsocks（中文名称：影梭）是使用Python、C++、C#等语言开发的、基于Apache许可证的开放源代码软件，用于保护网络流量、加密数据传输。Shadowsocks使用Socks5代理方式。
    Shadowsocks分为服务器端和客户端。在使用之前，需要先将服务器端部署在支持Python运行时的服务器上面，然后通过客户端连接并创建本地代理。
    在中国大陆，本工具也被广泛用于突破防火长城（GFW），以浏览被封锁、屏蔽或干扰的内容。在2015年8月22日，Shadowsocks原作者Clowwindy称受到了中国政府的压力，宣布停止维护此项目并移除其用户页面所载的源代码。
                                <img src="add">
                            </pre>
                        </div>
                    </div>
                </div>
                <div class="ccard">
                    <div class="ccard-logo">
                        <img src="/assets/images/recommend/ss.png">
                    </div>
                    <div class="ccard-content">
                        <div class="ccard-title">
                            ShadowSocks
                        </div>
                        <div class="ccard-sub-content">
                            <pre>
                                Shadowsocks（中文名称：影梭）是使用Python、C++、C#等语言开发的、基于Apache许可证的开放源代码软件，用于保护网络流量、加密数据传输。Shadowsocks使用Socks5代理方式。
    Shadowsocks分为服务器端和客户端。在使用之前，需要先将服务器端部署在支持Python运行时的服务器上面，然后通过客户端连接并创建本地代理。
    在中国大陆，本工具也被广泛用于突破防火长城（GFW），以浏览被封锁、屏蔽或干扰的内容。在2015年8月22日，Shadowsocks原作者Clowwindy称受到了中国政府的压力，宣布停止维护此项目并移除其用户页面所载的源代码。
                                <img src="add">
                            </pre>
                        </div>
                    </div>
                </div>
                <div class="ccard">
                    <div class="ccard-logo">
                        <img src="/assets/images/recommend/ss.png">
                    </div>
                    <div class="ccard-content">
                        <div class="ccard-title">
                            ShadowSocks
                        </div>
                        <div class="ccard-sub-content">
                            <pre>
                                Shadowsocks（中文名称：影梭）是使用Python、C++、C#等语言开发的、基于Apache许可证的开放源代码软件，用于保护网络流量、加密数据传输。Shadowsocks使用Socks5代理方式。
    Shadowsocks分为服务器端和客户端。在使用之前，需要先将服务器端部署在支持Python运行时的服务器上面，然后通过客户端连接并创建本地代理。
    在中国大陆，本工具也被广泛用于突破防火长城（GFW），以浏览被封锁、屏蔽或干扰的内容。在2015年8月22日，Shadowsocks原作者Clowwindy称受到了中国政府的压力，宣布停止维护此项目并移除其用户页面所载的源代码。
                                <img src="add">
                            </pre>
                        </div>
                    </div>
                </div>
                <div class="ccard">
                    <div class="ccard-logo">
                        <img src="/assets/images/recommend/ss.png">
                    </div>
                    <div class="ccard-content">
                        <div class="ccard-title">
                            ShadowSocks
                        </div>
                        <div class="ccard-sub-content">
                        <pre>
                            Shadowsocks（中文名称：影梭）是使用Python、C++、C#等语言开发的、基于Apache许可证的开放源代码软件，用于保护网络流量、加密数据传输。Shadowsocks使用Socks5代理方式。
Shadowsocks分为服务器端和客户端。在使用之前，需要先将服务器端部署在支持Python运行时的服务器上面，然后通过客户端连接并创建本地代理。
在中国大陆，本工具也被广泛用于突破防火长城（GFW），以浏览被封锁、屏蔽或干扰的内容。在2015年8月22日，Shadowsocks原作者Clowwindy称受到了中国政府的压力，宣布停止维护此项目并移除其用户页面所载的源代码。
                            <img src="add">
                        </pre>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
{% end %}

{% block scripts %}
<script src="/assets/js/granim.min.js"></script>
<script>
var granimInstance = new Granim({
    element: '#canvas-basic',
    name: 'basic-gradient',
    direction: 'left-right',
    opacity: [1, 1],
    isPausedWhenNotInView: true,
    states : {
      "default-state": {
          gradients: [
{#				['#B3FFAB', '#12FFF7'],#}
{#				['#ADD100', '#7B920A'],#}
				['#1A2980', '#26D0CE']
          ]
    }
}});
    $(document).click(function() {
        if ($(".intro").is(":hidden")) {
            return;
        }
        else {
            console.log('hide.')
            $(".intro").hide();
            $('.ccard-logo').removeClass('active');
        }
    });
    $('.ccard-logo').on('click', function (e) {
        e.preventDefault();
        e.stopPropagation();
        $('.ccard-logo').removeClass('active');
        $(e.currentTarget).addClass('active');
        var c = $(e.currentTarget).next().html();
        $('.intro').html(c);
        if ($(".intro").is(":hidden")) {
            console.log('show');
            $('.intro').css('display', 'block');
        }
    });

    $(document).ready(function() {
        $('').fullpage({
            scrollBar: true,
{#            slidesNavigation: true, #}
            navigation: true,
			navigationPosition: 'right',
        });
    });

</script>
{% end %}
