@charset "UTF-8";
$color1: #FFBCBC;
//$color2: #A4EDA4;
$color2: #34495E;
$color3: #ace6f6;
$color4: #e95420;


$base-color: #e95420 !default;

$logo-color: $base-color !default;
$font-color: #34495E !default;
$border-color: #eaeaea !default;
$body-background-color: #f7f7f7 !default;
$gray-font-color: #8a8a8a !default;
$gray-background-color: #efefef !default;

$link-color: $logo-color !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-light-color:  lighten($font-color, 15%) !default;
$btn-color: $link-color !default;
$btn-hover-color: $link-color !default;

$important-font-color: #222 !default;
$important-link-color: $logo-color !default;

$nav-header-background-color: #fff !default;
$nav-header-font-color: $font-color !default;
$nav-header-font-hover-color: $logo-color !default;
$nav-header-hover-color: rgba(255, 255, 255, 0.26) !default;

$card-header-background-color: #fff !default;
$card-header-font-color: $base-color !default;
$card-body-background-color: #fff !default;
$card-body-font-color: #999 !default;


// ---------------------全局自定义样式---------------------
html {
    // padding 内包含
    box-sizing: border-box;
}

body {
    font-family: "Myriad Pro", "Helvetica Neue", Helvetica, "PingFang SC";
    color: $font-color;
    font-size: 13px;
    line-height: 1.5;
    margin: 0;
    //background-image: url("/assets/images/LPBackground.svg");
    background-color: #fff;
    a {
        color: $font-color;
        &:hover, &:focus {
            color: $link-color;
        }
    }
}
.content-container {
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 7px;
    // .content-header-del {
    //     padding: 10px 0px 0;
    //     margin-bottom: 10px;
    //     border-bottom: 1px solid #ddd;
    //     span {
    //         font-size: 20px;
    //     }
    //     .nav {
    //         float: right;
    //     }
    // }

}

@media (min-width: 1200px) {
    .content-container {
        max-width: none;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
}
@media (min-width: 1450px) {
    .content-container {
        max-width: none;
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
}

// 分隔符
.divider {
    margin: 0 3px;
    color: $font-color;
}

// 重要分隔符
.important-divider {
    margin: 0 3px;
    color: $base-color;
}

// 模糊效果
.blur {
    -moz-filter: blur(5px);
    -webkit-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

// 重要字体
.important-font {
    color: $important-font-color !important;
}

// 轻字体
.light-font {
    color: $link-light-color !important;
    &:hover {
        color: $important-font-color !important;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    li {
        float: left;
    }
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.float-left {
    float: left;
}

// padding 继承
*, *::before, *::after {
    box-sizing: inherit;
}
// 清除浮动
.cl::after {
    clear: both;
    content: " ";
    display: table;
}


// ------------------------


.captcha {
    height: 40px;
    border: 1px solid $border-color;
}

@media (max-width: 767px){
    // 隐藏元素
    .hidden-xs {
        display: none!important;
    }
    // 清除格式
    .clear-xs {
        max-width: inherit !important;
        height: inherit !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}


// ---------------------fa.js-------------------------
.fa {
    //color: $font-color;
    padding: 0 3px;
    //padding-right: 3px;
    &:hover {
        //color: $link-color;
    }
}

// ---------------------summernote.js-------------------------
.note-toolbar {
    padding: 0;
    background-color: #fff;
    border-bottom: none;
    & > .btn-group {
        margin-top: 0;
    }
    .note-btn {
        background: none;
        border: none;
        &:visited, &:focus {
            background-color: #dadada;
        }
        &.active {
            background-color: #dadada;
        }
    }
}


// ---------------------bootstrap.css----------------------------

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.row::after {
    content: "";
    display: table;
    clear: both;
}
dd {
    margin-bottom: .5rem;
    margin-left: 0;
}

img {
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 0;
}
a, a:focus, a:hover {
    text-decoration: none;
    outline: none;
}
a:hover {
    .fa {
    }
}
.tag-success {
    background-color: $link-color;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
    .nav-item {
        float: left;
        margin-bottom: -1px;
    }
    .nav-link {
        display: block;
        padding: 0.5em 1em;
        border: 1px solid transparent;
        border-top-right-radius: 0.1rem;
        border-top-left-radius: 0.1rem;
    }
    .nav-item + .nav-item {
        margin-left: 0.2rem;
    }
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #eceeef #eceeef #ddd;
}
.nav-tabs .nav-link.disabled, .nav-tabs .nav-link.disabled:focus, .nav-tabs .nav-link.disabled:hover {
  color: #818a91;
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover,
.nav-tabs .nav-item.open .nav-link,
.nav-tabs .nav-item.open .nav-link:focus,
.nav-tabs .nav-item.open .nav-link:hover {
  color: #55595c;
  background-color: #fff;
  border-color: #ddd #ddd transparent;
}

// ----

form {
    fieldset {
        min-width: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }
    .form-group {
        margin-bottom: 1rem;
    }
    label {
        display: inline-block;
        margin-bottom: .5rem;
    }
    .form-control {
        display: block;
        width: 100%;
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
        line-height: 1.25;
        color: #55595c;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid $border-color;
        border-radius: 0.1rem;
    }

    .form-control:focus {
        color: #55595c;
        background-color: #fff;
        border-color: $link-color;
        outline: none;
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: #eceeef;
        opacity: 1;
    }
    .form-control:disabled {
        cursor: not-allowed;
    }

}
// ----
.pagination {
    display: inline-block;
    padding-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.1rem;
    .page-item {
        display: inline;
        .page-link {
            position: relative;
            float: left;
            padding: 0.5rem 0.75rem;
            margin-left: -1px;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
            color: $font-color;
            &:focus, &:hover {
                color: $link-color;
                background-color: #eceeef;
                border-color: #ddd;
            }
        }
        &:first-child .page-link {
                margin-left: 0;
                border-bottom-left-radius: 0.1rem;
                border-top-left-radius: 0.1rem;
        }
        &:last-child .page-link {
            border-bottom-right-radius: 0.1rem;
            border-top-right-radius: 0.1rem;
        }
    }
}
// ----
.btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    border-radius: 0.1rem;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    & > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    & > .btn:last-child:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    & > .btn {
      position: relative;
      float: left;
    }
}
.btn-sm, .btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.1rem;
}
.btn-outline-primary {
    color: $important-font-color;
    border-color: $btn-color;
    background-image: none;
    background-color: transparent;
    &:hover, &:focus, &:active {
        color: #fff !important;
        background-color: $btn-hover-color;
        border-color: $btn-hover-color;
        outline: none;
    }
}

.btn-primary {
    color: #fff;
    background-color: $btn-color;
    border-color: $btn-color;
    &:hover, &:focus, &:active {
        color: #fff !important;
        background-color: $btn-hover-color;
        border-color: $btn-hover-color;
        outline: none;
    }
}

.btn-outline-primary:active:hover,
.btn-outline-primary:active:focus,
.btn-outline-primary:active.focus,
.btn-outline-primary.active:hover,
.btn-outline-primary.active:focus,
.btn-outline-primary.active.focus,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus{
    color: #fff;
    background-color: $btn-hover-color;
    border-color: $btn-hover-color;
}

// ---- 下滑菜单
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 1rem;
    color: #373a3c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.1rem;
    .dropdown-item {
        display: block;
        width: 100%;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        color: #373a3c;
        text-align: inherit;
        white-space: nowrap;
        background: none;
        border: 0;
    }
    .dropdown-item:focus, .dropdown-item:hover {
        color: #2b2d2f;
        text-decoration: none;
        background-color: #f5f5f5;
    }
    .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
        color: #fff;
        text-decoration: none;
        background-color: #2fca7b;
        outline: 0;
    }
    .dropdown-item.disabled, .dropdown-item.disabled:focus, .dropdown-item.disabled:hover {
        color: #818a91;
    }
    .dropdown-item.disabled:focus, .dropdown-item.disabled:hover {
        text-decoration: none;
        cursor: not-allowed;
        background-color: transparent;
        background-image: none;
        filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
    }
}

// ---- card部分样式
.card {
    position: relative;
    display: block;
    margin-bottom: 0.75rem;
    border-radius: 0.1rem;
    //border: none !important;
    //border: 1px solid $border-color;
    border-top: none;
    background-color: $card-body-background-color;
    .card-header {
        background-color: $card-header-background-color;
        color: $card-header-font-color;
        position: relative;
        //border-bottom: 1px solid $border-color;
        padding: 0.5rem 1rem !important;
        a{
            &:hover {
                color: $link-color;
            }
        }
        .fa {
             padding-right: 5px;
        }
        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }
    .card-header::after {
        content: "";
        width: 50%;
        height: 2px;
        background: $link-color;
        position: absolute;
        left: 0;
        bottom: -1px;
    }

    .card-block {
        padding: 1.25rem;
        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }
}

// --------------------------------------
.col-md-9, .col-md-3, .col-xs-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 768px) {
    .col-md-9 {
        float: left;
        width: 75%;
    }
    .col-md-3 {
        float: left;
        width: 25%;
    }
}

.col-xs-6 {
    float: left;
    width: 50%;
}

// --------------------------------------

.page-link {
    color: $font-color;
}
.page-link:focus, .page-link:hover {
    color: $link-color;
}
.form-control:focus {
    border-color: $link-color;
}

// 遮罩层
.card:beforex {
    background-color: $base-color;
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.85;
    position: absolute;
    width: 100%;
    z-index: 2;
}

// ---------------------max-width 移动端适配-------------------
@media (max-width: 767px){
    .header .header-container{
        width: 100% !important;
        .header-logo {
            margin: 0 auto !important;
            width: 50px !important;
            // 这里和padding-left和配合
            position: absolute !important;
            left: 0px !important;
        }
        .header-nav {
            // 这里和absolute的配合
            padding-left: 50px !important;
            max-width: none !important;
            li {
                width: 25% !important;;
            }
        }
    }
}
// --------------------- nav-header部分样式 -------------------
$header-height: 70px;

.header {
    margin: 0 auto;
    z-index: 999;
    background-color: $nav-header-background-color;
    //border-bottom: 1px solid $border-color;
    //box-shadow: 0 2px 10px $border-color;

    a {
        color: $nav-header-font-color;
    }

    .btn-outline-primary {
        border-color: $btn-hover-color;
    }

    .btn-primary {
        background-color: $btn-hover-color;
        border-color: $btn-hover-color;
    }
    .header-container {
        height: $header-height;
        margin: 0 30px;
        line-height: $header-height;
        .header-logo {
            position: relative;
            top: 50px;
            text-align: center;
            font-size: 14px;
            left: -30px;
            background-color: $logo-color;
            line-height: 40px;
            .color {
                cursor: pointer;
                display: none;
                width: 25%;
                height: 20px;
                &.color1 {
                    background-color: $color1;
                }
                &.color2 {
                    background-color: $color2;
                }
                &.color3 {
                    background-color: $color3;
                }
                &.color4 {
                    background-color: $color4;
                }
            }
            &:hover {
                .color {
                    float: left;
                    display: block;
                }
            }
            a {
                padding-right: 15px;
                padding-left: 15px;
                color: #fff;
                &:hover {
                    color: #fff;
                }
            }
        }
        .header-nav {
            width: 100%;
            max-width: 324px;
            li {
                float: left;
                position: relative;
                text-align: center;
                width: 25%;
                &.active, &:hover {
                    // 下划线
                    -webkit-box-shadow: inset 0 -3px 0px $logo-color;
                    -moz-box-shadow: inset 0 -3px 0px $logo-color;
                    box-shadow: inset 0 -3px 0px $logo-color;
                    a {
                        color: $nav-header-font-hover-color;
                    }
                }
                a {
                    display: block;
                    font-size: 14px;
                    text-align: center;
                    border-top: 4px solid transparent;
                    &:focus, &:hover {
                        color: $nav-header-font-hover-color;
                    }
                    //-webkit-box-shadow: inset 0 -3px 0px $link-color;
                    //-moz-box-shadow: inset 0 -3px 0px $link-color;
                    //box-shadow: inset 0 -3px 0px $link-color;
                }


            }
        }
        .header-tip {
            float: right;
            // 未登录
            a {
                  color: $link-color;
                  &:hover {
                      color: $nav-header-font-hover-color;
                  }
              }

            // 已登录
            .options {
                li {
                    float: left;
                    margin-right: 10px;
                    position: relative;
                    text-align: center;
                    img {
                        width: 50px;
                    }
                    &>a {
                        padding: 5px;
                        &:hover {
                            background-color: $nav-header-hover-color;
                        }
                        &:first-of-type {
                            background: none;
                        }
                    }
                }
                .dropdown {
                    .dropdown-menu {
                        font-size: 13px;
                        min-width: 0;
                        margin: 0px;
                        li {
                            float: none;
                            line-height: normal;
                            a{
                                color: $font-color;
                                &:hover {
                                    color: $link-color;
                                    background: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




// --------------------- footer部分样式 -------------------
.footer {
    background-color: white;
    margin-top:20px;
    padding-top: 20px;
    .footer-container{
        margin-top: 10px;
        dl {
            margin: 0;
            float: left;
            width: 240px;
            padding-left: 22px;

            dt {
                font-size: 16px;
                color: #333;
                font-weight: 300;
                margin-bottom: 10px;
                padding-left: 16px;
                line-height: 1;
                border-left: 3px solid #d8d8d8;
            }
            dd {
                line-height: 2;
                font-size: 13px;
                margin-bottom: 4px;
                color: $font-color;
                margin-left: 20px;
                a {
                    color: rgb(85, 85, 85);
                }
            }
        }
        .footer-logo {
            margin: 10px;
            text-align: center;
        }
    }
}
// --------------------- Blog页面架构 -------------------
// 同行的方式, float: right, 但是是parent的第一个元素
@media (max-width: 767px){
    .content {
        margin-right: 0px !important;
        .post-detail {
            padding: 0px !important;
        }
    }
    .side {
        display: none !important;
        width: inherit !important;
        margin-left: 0px !important;
        float: none !important;
    }
}
.content {
    margin-right: 300px;
    padding: 10px 10px;
    background-color: #fff;
}

.side {
    float: right;
    width: 280px;
    padding-left: 20px;
    border-left: 1px solid $border-color;
    .post-category {
        a {
            color: $gray-font-color;
            &:hover {
                color: $link-color;
            }
        }
        ul li {
        }
    }
    .post-label {
        a {
            color: $gray-font-color;
            &:hover {
                color: $link-color;
            }
        }
        ul.list-inline li {
            margin: 3px;
            a {
                display: block;
                padding: 3px;
                border-bottom: 1px solid $gray-font-color;
                &:hover {
                    background-color: $gray-background-color;
                    border-bottom: 1px solid $link-color;
                }
            }
        }
    }
}

// --------------------- post-list部分样式 -------------------

.post-list {
    padding: 20px;
    background-color: #fff;
    .post-item {
        border-bottom: 1px solid $border-color;
        margin-bottom: 10px;
        padding-bottom: 10px;
        .post-title {
            margin: 0px;
            font-weight: 400;
            font-size: 26px;
            margin-bottom: 10px;
        }
        .post-info {
            font-size: 11px;
            margin-bottom: 10px;
            color: $gray-font-color;
            .post-info-label span {
                color: $important-font-color;
                &:first-of-type {
                    color: $gray-font-color;
                }
            }
        }
        .post-summary {
            color: $gray-font-color;
            margin-bottom: 10px;

        }
        .post-function {
            a {
                color: $link-color;
                border-left: 2px solid $link-color;
                padding-left: 4px;
                font-weight: 300;
            }
        }
    }
}

// --------------------- post-detail 详情部分 -------------------
.post-detail {
    padding: 20px;
    background-color: #fff;
    .post-title {
        margin: 0px;
        font-weight: 400;
        font-size: 26px;
        margin-bottom: 5px;
        text-align: center;
    }
    .post-info {
        text-align: center;
    }
    .post-content {
    }
}
.post-content {
    padding: 10px;
    color: $important-font-color;
    word-wrap: break-word;
    word-break: normal;
    blockquote {
        margin: 0 20px;
        p {
            //font-size: 1rem;
            margin-bottom: .33999rem;
            font-style: italic;
            padding: .66001rem 1rem 1rem;
            border-left: 3px solid #A0AABF;
        }
    }
    img {
        max-width: 90%;
    }
}
// post-opt
.post-opt {
    .side {
        float: left;
        width: 280px;
        margin-left: 0px;
        .card-header .btn {
            color: #fff;
            font-size: inherit;
            padding:2px 4px;
            background-color: $link-color;
            &:hover {
                background-color: $link-hover-color;
            }
        }
        .post-list {
            li {
                line-height: 30px;
                .btn {
                    font-size: inherit;
                    padding:2px 4px;
                    border-bottom: 1px solid $link-color;
                    &:hover {
                        background-color: $gray-background-color;
                    }
                }
            }
        }
    }
    .content {
        margin-right: 0px;
        margin-left: 300px;
    }
}