@charset "UTF-8";
$color1: #FFBCBC;
//$color2: #A4EDA4;
$color2: #000;
$color3: #2fca7b;
$color4: #e95420;

$lightpink: #FFBCBC;
$lightgreen: #A4EDA4;
$lightgreen2: #2fca7b;
$bg1: #e1e1e1;

$base-color: $color4;
$link-color: $base-color;
$nav-header-font-hover-color: $link-color;
@import "./jmp";
