@import "../lib/bootstrap/scss/bootstrap";

@import "./base";
@import "./utils";

.captcha {
    height: 40px;
    border: 1px solid $border-color;
}


// ---------------------fa.js-------------------------
.fa {
    //color: $font-color;
    padding: 0 3px;
    //padding-right: 3px;
    &:hover {
        //color: $link-color;
    }
}


// ---------------------notification.js-------------------------
.alert-info {
    background-color: $base-color;
    border-color: $base-color;
    color: #fff;
    text-align: center;
    opacity: 0.7;
    padding: 10px;
    width: 25%;
    top: 80px !important;
    &:hover {
        opacity: 1;
    }
    .close {
        cursor: pointer;
        float: right;
        color: $link-color;
        opacity: 0.5;
        &:hover {
            color: $link-color;
            opacity: 1;
        }
    }
}

// ---------------项目组件

.topic-nav {
    .hot-topic {
        padding-top: 5px;
        color: gray;
        a {
            color: $font-color !important;
        }
    }
}