{% extends "base.html" %}

{% block title %}Tornado.Login{% end %}

{% block content %}
        <div class="content-container container">
            <div class="card custom-card">
                <div class="card-header">
                    登陆
                </div>
                <div class="card-block">
                <form data-parsley-validate="" action="/login" method="post">
                    <fieldset class="form-group">
                        <label for="username">用户名</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="请输入您的用户名(admin)" required>
                        <small class="text-muted">我们保证您的信息安全.</small>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码(root)" required>
                    </fieldset>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> 保持Session记录
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">登陆</button>
                </form>
                </div>
            </div>
        </div>
{% end %}

{% block scripts %}
<script type="text/javascript">
</script>
{% end %}
