{% extends "base.html" %}

{% block title %}Tornado.Post.Detail{% end %}

{% block styles %}
<link href="/assets/css/font-awesome.min.css" rel="stylesheet">
<script src="/assets/tinymce/tinymce.min.js"></script>
<script type="text/javascript">

</script>
{% end %}

{% block content %}
    <div class="content-container container post-new-html">
        <div class="post-new-card card custom-card">
             <div class="card-header">
                新主题
            </div>
            <div class="card-block">
                <form data-parsley-validate="" action="/post/add" method="post">
                    <div class="form-group">
                        <label for="title">标题</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="请输入标题" required>
                    </div>
                    <div class="form-group" style="position: relative;">
                        <label for="topic">主题</label>
                        <input type="text" class="form-control" id="topic" name="topic" placeholder="点击选择主题" required readonly>
                        <div class="card-header-all">
                            <div class="hd">
                                <!-- 这一块其实可以缓存起来, 因为所有用户都是取相同数据 -->
                                {% set len_categorys = len(catetopic['categorys']) %}
                                {% for i in range(len_categorys) %}
                                {% set category = catetopic['categorys'][i] %}
                                {% set topics = catetopic['topics'][i] %}
                                <div class="card-header-all-cate">
                                    <h4>{{category.name}}</h4>
                                    {% for topic in topics %}
                                    <a href="#blank" id="{{topic.str}}">{{topic.name}}</a>
                                    {% end %}
                                </div>
                                {% end %}
                                <div class="card-header-all-cate">
                                    <h4>未分类</h4>
                                    {% for topic in catetopic['topics'][-1] %}
                                    <a href="#blank" id="{{topic.str}}">{{topic.name}}</a>
                                    {% end %}
                                </div>
                             </div>
                        </div>
                    </div>

                        <!-- <select class="form-control" name="topic" id="topic"> -->
                        <!--     {% set len_categorys = len(catetopic['categorys']) %} -->
                        <!--     {% for i in range(len_categorys) %} -->
                        <!--     {% set category = catetopic['categorys'][i] %} -->
                        <!--     {% set topics = catetopic['topics'][i] %} -->
                        <!--     <optgroup label="{{category.name}}"> -->

                        <!--         {% for topic in topics %} -->
                        <!--         <option>{{topic.name}}</option> -->
                        <!--         {% end %} -->
                        <!--     </optgroup> -->
                        <!--     {% end %} -->
                        <!-- </select> -->
                    <div class="form-group">
                        <label for="password">内容</label>
                        <textarea id="tinymce" hidden>Please Write Here.</textarea>
                        <input name="image" type="file" id="upload" class="hidden" hidden>
                    </div>
                    <div class="form-group float-left">
                        <img class="emoji" id="emoji-btn" src="/static/images/emoji/basic/smile.png">
                        <ul id="emoji-list" class="emojis list-inline" style="display: none;">
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">提交</button>
                </form>
            </div>
        </div>
    </div>
{% end %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        tinymce.init({
            selector: '#tinymce',
            height : 300,
            theme: "modern",
            language: 'zh_CN',
            relative_urls: false,
            content_css : '/assets/css/tinymce.content.min.css',
            paste_data_images: true,
            plugins: ['code','paste wordcount textcolor', 'pasteUpload',
                'insertdatetime media nonbreaking save table contextmenu directionality',
                'advlist autolink lists link image preview hr anchor pagebreak',],
            toolbar: "insertfile undo redo | styleselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            images_upload_handler: function (blobInfo, success, failure) {
                console.log('image_upload-handler.');
                uploadFile = function (file, filename) {
                    var formData = new FormData();
                    formData.append('imageFile', file);
                    formData.append("mimeType", getMimeType(file, filename));
                    console.log('uploading: '+filename);
                    $.ajax({
                        url: '/utils/uploadimg',
                        data: formData,
                        type: 'post',
                        processData: false,
                        contentType: false,
                        dataType: 'json',
                        xhrFields: {
                            withCredentials: true
                        },
                        success: function (result) {
                            console.log('upload complete.');
                            if(result.errorcode == 0) {
                                success('/static/images/'+result.data.image);
                                return;
                            }
                            else {
                                failure('Invalid JSON: ' + result.data.txt);
                                return;
                            }
                        },
                        error: function (xOptions, textStatus) {
                            console.log(xOptions.responseText);
                        }
                    });
                };
                return uploadFile(blobInfo.blob(), blobInfo.filename());
            },
            file_picker_callback: function(callback, value, meta) {
                if (meta.filetype == 'image') {
                    $('#upload').trigger('click');
                    $('#upload').on('change', function() {
                        var file = this.files[0];
                        var reader = new FileReader();
                        reader.onload = function(e) {
                            callback(e.target.result, {
                                alt: ''
                            });
                        };
                        reader.readAsDataURL(file);
                    });
                }
            },

        });

//        $('#tinymce').pasteUploadImage();


    var topic = '';
    $('form').on('submit', function (event) {
        event.preventDefault();
         $.ajax({
            type: 'post',
            dataType: 'json',
            url: '/post/add',
            data: {
                'title': $('#title').val(),
                'topic': topic,
                'content': tinymce.activeEditor.getContent()
            },
            success: function(result, status) {
                if(result.errorcode == 0) {
                    window.location.href="/post/"+result.data['post_id'];
                }
                else if(result.errorcode == 1) {
                    alert(result.txt);
                }
            }
        })
        return 1;
    });
    $(".post-new-html .card-header-all-cate a").on('click', function(e){
        $("#topic").val($(this).html());
        topic = $(this).attr('id');
    });
    post_new_show_hide_cate();
    show_hide_emoji_list();
    load_emoji_summernote();
});
</script>
{% end %}
