{% extends "../base.html" %}

{% block title %}Tornado.Post.Detail{% end %}
{% block styles %}
<link href="/assets/css/font-awesome.min.css" rel="stylesheet">
{% end %}

{% block content %}
        <div class="content-container container user-profile-notification-html">
            <div class="col-md-3">
                <div class="user-profile-widget">
                    <div class="text-center">
                        <img src="/assets/images/avatar/{{current_user.avatar}}">
                    </div>
                    <dl class="row">
                        <dt class="col-xs-6">用户名:</dt>
                        <dd class="col-xs-6"><span>@{{current_user.username}}</span></dd>
                        <dt class="col-xs-6">注册时间:</dt>
                        <dd class="col-xs-6"><span class="friendly-time">{{datetime_delta(profile.reg_time)}}</span></dd>
                        <dt class="col-xs-6">上次登录时间:</dt>
                        <dd class="col-xs-6"><span class="friendly-time">{{datetime_delta(profile.last_login_time)}}</span></dd>
                    </dl>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card post-hot-card custom-card">
                    <div class="card-header">
                                消息通知
                    </div>
                    <div class="card-block">
                        {% if notifications %}
                        <ul class="list-inline">
                            {% for notice in notifications %}
                                {% if notice.opt == 1 %}
                                <li>
                                    <a class="username" href="/user/{{notice.extra_user.id}}">{{notice.extra_user.username}}</a>
                                    {{notice.msg}}
                                    <a href="/post/{{notice.extra_post.id}}">《{{notice.extra_post.title}}》</a>
                                </li>
                                {% elif notice.opt == 2 %}
                                <li>
                                    <a class="username" href="/user/{{notice.extra_user.id}}">{{notice.extra_user.username}}</a>
                                    {{notice.msg}}
                                    <a href="/post/{{notice.extra_post.id}}">《{{notice.extra_post.title}}》</a>
                                    :
                                    <a href="/post/{{notice.extra_post.id}}">{{notice.extra_post_reply.content}}</a>
                                </li>
                                {% else %}
                                {% end %}
                            {% end %}
                        </ul>
                        {% else %}
                        <div class="text-center">
                            <i class="fa fa-meh-o" aria-hidden="true"></i>暂无
                        </div>
                        {% end %}
                    </div>
                </div>
            </div>
        </div>
{% end %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        monitor_system_status()
    });
</script>
{% end %}
