{% extends "./base.html" %}
{% block styles %}
<!-- DataTables CSS -->
<link href="/dashboard/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

<!-- DataTables Responsive CSS -->
<link href="/dashboard/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
{% end %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">文章列表</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                所有文章列表
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th> 用户名</th>
                            <th> 注册时间</th>
                            <th> 操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for u in users %}
                        <tr class="odd gradeX" user-id="{{ u.id }}">
                            <td> {{ u.username }}</td>
                            <td> {{ u.reg_time }}</td>
                            <td class="center">
                                <a href="#" class="btn btn-success btn-sm user-edit" role="button">编辑</a>
                                <a href="#" class="btn btn-danger btn-sm user-del" role="button">删除</a>
                            </td>
                        </tr>
                        {% end %}
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
{% end %}
{% block scripts %}
    <!-- DataTables JavaScript -->
    <script src="/dashboard/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/dashboard/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/dashboard/vendor/datatables-responsive/dataTables.responsive.js"></script>
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
        $('.post').addClass('active');
        $('.post-list').addClass('active');

    });
    </script>
{% end %}
