{% extends "../base.html" %}

{% block title %}Tornado.Index{% end %}

{% block content %}
    <div class="content-container container index-html">
        <div class="banner">
            <div class="bg" style="background: url('http://ac-mhke0kuv.clouddn.com/a8ce11664fe98f11b04c.png');">
                <img src="http://developer.huawei.com/cn/ict/DevChallenge2016/assert/img/field/field_banner.jpg">
            </div>
        </div>
        <div class="col-md-9">
        <div class="card all-cate-card custom-card">
            <div class="current-topic">
                <span>{% if current_topic  %}{{current_topic.name}}{% else %}全部分类{% end %}</span>
            </div>
            <div class="card-header ">
                <a href="#_blank" class="light-font">热门: </a>
                <a href="/topic/study-material" class="light-font">学习资料</a>
                <span class="divider">/</span>
                <a href="/topic/study-competition"  class="light-font">竞赛</a>
                <span class="important-divider">|</span>
                <a class="card-header-all-bt important-font" href="#blank"><i class="fa fa-bars" aria-hidden="true"></i>全部分类</a>
            </div>
            <div class="card-header-all">
                <h3>所有分类</h3>
                <div class="hd">
                    <!-- 这一块其实可以缓存起来, 因为所有用户都是取相同数据 -->
                    {% set len_categorys = len(topic_category_cache['categorys']) %}
                    {% for i in range(len_categorys) %}
                    {% set category = topic_category_cache['categorys'][i] %}
                    {% set topics = topic_category_cache['topics'][i] %}
                    <div class="card-header-all-cate">
                        <h4><i class="fa fa-hashtag" aria-hidden="true"></i>{{category.name}}</h4>
                        <div class="card-header-all-cate-topic">
                            {% for topic in topics %}
                            <a href="/topic/{{topic.str}}">{{topic.name}}</a>
                            {% end %}
                        </div>
                    </div>
                    {% end %}
                    <div class="card-header-all-cate">
                        <h4><i class="fa fa-hashtag" aria-hidden="true"></i>未分类</h4>
                        <div class="card-header-all-cate-topic">
                            {% for topic in topic_category_cache['topics'][-1] %}
                            <a href="/topic/{{topic.str}}">{{topic.name}}</a>
                            {% end %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-block">

            <!-- 置顶帖子 -->
            {% for post in top_posts %}
            <div class="post-item top-post cl">
                {% set user = post.user  %}
                <div class="post-avatar hidden-xs ">
                    <a class="username" href="/user/{{user.id}}">
                        {% if is_default_avatar(user.avatar) %}
                        <span>{{user.username[0].upper()}}</span>
                        {% else %}
                        <img src="/assets/images/avatar/{{user.avatar}}">
                        {% end %}
                    </a>
                </div>

                <div class="post-item-mid clear-xs">
                    <div class="item-title"><a href="/post/{{post.id}}">{{post.title}} <i class="fa fa-hashtag" aria-hidden="true"></i></a></div>
                    <div class="item-info">
                        <span><a class="post-category" href="/topic/{{post.topic.str}}">{{post.topic.name}}</a></span>
                        <span class="divider">•</span>
						<span><a class="username" href="/user/{{post.user.id}}">{{post.user.username}}</a></span>

                        {% if post.latest_reply_user %}
                        <span class="divider">•</span>
                        <span><a class="username" href="/user/{{post.latest_reply_user.id}}">{{post.latest_reply_user.nickname}} </a>最后回复于</span>
                        <span class="friendly-time">{{datetime_delta(post.latest_reply_time)}}</span>
                        {% end %}
                        <span class="divider">•</span>
                        <span>{{post.visit_count}} 浏览</span>
                    </div>
                </div>
                <div class="post-item-end hidden-xs">
                    <span><i class="fa fa-commenting-o" aria-hidden="true"></i>{{post.reply_count}}</span>
                </div>
            </div>
            {% end %}

            <!-- 正常帖子 -->
            {% for post in posts %}
            <div class="post-item cl">
                {% set user = post.user  %}
                <div class="post-avatar hidden-xs ">
                    <a class="username" href="/user/{{user.id}}">
                        {% if is_default_avatar(user.avatar) %}
                        <span>{{user.username[0].upper()}}</span>
                        {% else %}
                        <img src="/assets/images/avatar/{{user.avatar}}">
                        {% end %}
                    </a>
                </div>

                <div class="post-item-mid clear-xs">
                    <div class="item-title"><a href="/post/{{post.id}}">{{post.title}}</a></div>
                    <div class="item-info">
                        <span><a class="post-category" href="/topic/{{post.topic.str}}">{{post.topic.name}}</a></span>
                        <span class="divider">•</span>
						<span><a class="username" href="/user/{{post.user.id}}">{{post.user.username}}</a></span>

                        {% if post.latest_reply_user %}
                        <span class="divider">•</span>
                        <span><a class="username" href="/user/{{post.latest_reply_user.id}}">{{post.latest_reply_user.nickname}} </a>最后回复于</span>
                        <span class="friendly-time">{{datetime_delta(post.latest_reply_time)}}</span>
                        {% end %}
                        <span class="divider">•</span>
                        <span>{{post.visit_count}} 浏览</span>
                    </div>
                </div>
                <div class="post-item-end hidden-xs">
                    <span><i class="fa fa-commenting-o" aria-hidden="true"></i>{{post.reply_count}}</span>
                </div>
            </div>
            {% end %}
            <nav style="text-align:center">
                <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="{{pages_prefix_url}}{{pages['cp-1'] if pages['cp-1'] else pages['cp']}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <!-- 这里如果换成列表存放数据，这里直接使用for就可以了，但是字典表意更明确一点 -->
                {% if pages['cp-2'] %}
                <li class="page-item"><a class="page-link" href="{{pages_prefix_url}}{{pages['cp-2']}}">{{pages['cp-2']}}</a></li>
                {% end %}
                {% if pages['cp-1'] %}
                <li class="page-item"><a class="page-link" href="{{pages_prefix_url}}{{pages['cp-1']}}">{{pages['cp-1']}}</a></li>
                {% end %}
                <li class="page-item"><a class="page-link" href="{{pages_prefix_url}}{{pages['cp']}}">{{pages['cp']}}</a></li>
                {% if pages['cp+1'] %}
                <li class="page-item"><a class="page-link" href="{{pages_prefix_url}}{{pages['cp+1']}}">{{pages['cp+1']}}</a></li>
                {% end %}
                {% if pages['cp+2'] %}
                <li class="page-item"><a class="page-link" href="{{pages_prefix_url}}{{pages['cp+2']}}">{{pages['cp+2']}}</a></li>
                {% end %}
                <li class="page-item">
                    <a class="page-link" href="{{pages_prefix_url}}{{pages['cp+1'] if pages['cp+1'] else pages['cp']}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                </ul>
            </nav>
            </div>
        </div>
        <div class="card all-cate-card-footer custom-card">
            <div class="card-header">
                <i class="fa fa-align-left" aria-hidden="true"></i>所有分类
            </div>
            <div class="card-block">
                <div class="card-header-all-footer">
                    <div class="hd">
                        <!-- 这一块其实可以缓存起来, 因为所有用户都是取相同数据 -->
                        {% set len_categorys = len(topic_category_cache['categorys']) %}
                        {% for i in range(len_categorys) %}
                        {% set category = topic_category_cache['categorys'][i] %}
                        {% set topics = topic_category_cache['topics'][i] %}
                        <div class="card-header-all-cate">
                            <h4><i class="fa fa-hashtag" aria-hidden="true"></i>{{category.name}}</h4>
                            <div class="card-header-all-cate-topic">
                            {% for topic in topics %}
                            <a href="/topic/{{topic.str}}">{{topic.name}}</a>
                            {% end %}
                            </div>
                        </div>
                        {% end %}
                        <div class="card-header-all-cate">
                            <h4><i class="fa fa-hashtag" aria-hidden="true"></i>未分类</h4>
                            <div class="card-header-all-cate-topic">
                            {% for topic in topic_category_cache['topics'][-1] %}
                            <a href="/topic/{{topic.str}}">{{topic.name}}</a>
                            {% end %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <!-- ***侧边栏*** -->
        <div class="col-md-3">
            <div class="card notice-card custom-card">
                <div class="card-header">
                    <i class="fa fa-flag" aria-hidden="true"></i>通知
                </div>
                <div class="card-block">
                    <p>1. 目前社区上线测试, 欢迎大家提各种意见. </p>
                    <p>2. 社区已经开源, 传送门. <a target="_blank" class="important-font" href="https://github.com/jmpews/torweb"><i class="fa fa-github" aria-hidden="true"></i>torweb</a></p>
                    <!--{% if not current_user %}-->
                        <!--<p><a class="btn btn-outline-primary" href="/login" role="button">登陆</a></p>-->
                        <!--<div>没有账户? <a href="/register">点击注册</a></div>-->
                    <!--{% else %}-->
                        <!--{{current_user.username}}-->
                    <!--{% end %}-->
                </div>
            </div>

            <div class="card post-hot-card custom-card">
                <div class="card-header">
                    <i class="fa fa-fire" aria-hidden="true"></i>Hot文章
                </div>
                <div class="card-block">
                    <ul class="list-inline">
                        {% for post in hot_post_cache['reply'] %}
                        <li><span class="">{{post.reply_count}} ℃</span> <span class="important-divider">|</span> <a href="/post/{{post.id}}">{{post.title}}</a></li>
                        {% end %}
                    </ul>
                </div>
            </div>

            <div class="card system-status-card custom-card">
                <div class="card-header">
                    <i class="fa fa-desktop" aria-hidden="true"></i>服务器状态
                </div>
                <div class="card-block">
                    <dl class="row">
                        <dt class="col-xs-6">CPU使用率:</dt>
                        <dd class="col-xs-6"><span class="cpu-per">{{systatus[0]}}</span></dd>
                        <dt class="col-xs-6">RAM使用率:</dt>
                        <dd class="col-xs-6"><span class="ram-per">{{systatus[1]}}</span></dd>
                        <dt class="col-xs-6">连接数:</dt>
                        <dd class="col-xs-6"><span class="net-conn">{{systatus[2]}}</span></dd>
                        <dt class="col-xs-6">系统启动时间:</dt>
                        <dd class="col-xs-6"><span class="os-start">{{systatus[3]}}</span></dd>

                    </dl>
                </div>
            </div>

        </div>
    </div>
{% end %}

{% block scripts %}
<script src="/assets/js/parsley.min.js"></script>
<script src="/assets/i18n/zh_cn.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
{#        monitor_system_status()#}
        get_websocket_url(start_system_monitor_websocket);
        show_hide_cate_nav();
    });

</script>
{% end %}
