{% extends "../base.html" %}

{% block title %}Tornado.Register{% end %}

{% block content %}
        <div class="content-container container">
            <div class="card custom-card">
                <div class="card-header">
                    注册
                </div>
                <div class="card-block">
                    <form id="register" data-parsley-validate="">
                    <fieldset class="form-group">
                        <label for="username">用户名(仅支持英文和数字)</label>
                        <input type="text" class="form-control" placeholder="" id="username" data-parsley-pattern="[0-9a-zA-Z]{6,18}" required>
                        <small class="text-muted">我们保证您的信息安全.</small>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="email">邮箱</label>
                        <input type="email" class="form-control" id="email" placeholder="请输入您的邮箱以作为找回工具" required>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="password1">密码</label>
                        <input type="password" class="form-control" id="password1" placeholder="请输入密码" data-parsley-length="[6, 12]" required>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="password2">重新输入密码</label>
                        <input type="password" class="form-control" id="password2" placeholder="请重新输入密码" data-parsley-equalto="#password1" data-parsley-equalto-message="密码不匹配" required>
                    </fieldset>
                    <button type="submit" class="btn btn-primary">注册</button>
                    </form>
                </div>
            </div>
        </div>
{% end %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
    });
    $('form').on('submit', function (event) {
        event.preventDefault();
         $.ajax({
            type: 'post',
            dataType: 'json',
            url: '/register',
            data: {
                'username': $('#username').val(),
                'email': $('#email').val(),
                'password': $('#password1').val(),
            },
            success: function(result, status) {
                if(result.errorcode == 0) {
                    var data = result['data'];
                    $.notify(data['username']+'注册成功, 前往登陆. ');
                    window.location.href='/login'
                }
                else if(result.errorcode == 1) {
                }
            }
        })
        return 1;
    });
</script>
{% end %}
