{% extends "../base.html" %}

{% block title %}Tornado.Post.Detail{% end %}
{% block styles %}
<!-- <link rel="stylesheet" href="/assets/css/summernote.css"> -->
<link href="/assets/css/font-awesome.min.css" rel="stylesheet">
<link href="/assets/css/medium-editor.min.css" rel="stylesheet">
<link href="/assets/css/magula.min.css" rel="stylesheet">
{% end %}

{% block content %}
<div class="content-container container post-detail-html">
    <div class="col-md-9">
        <ul class="tiny-nav" style="display: none;">
            <li class="nav-item">
                <a class="nav-link" href="?filter=all">所有镜像</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?filter=collect"> 收藏镜像</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="?filter=mine"> 我的镜像</a>
            </li>
        </ul>
        <div class="card all-cate-card post-detail-card custom-card" id="post-id" post-id="{{ post.id }}">
            <div class="post-detail-header cl">
                <div class="avatar hidden-xs ">
                    <a class="username" href="/user/{{ post.user.id }}">
                        {% if post.user.avatar %}
                        <img src="/assets/images/avatar/{{ post.user.avatar }}">
                        {% else %}
                        <span>{{ post.user.username[0].upper() }}</span>
                        {% end %}
                    </a>
                </div>
                <div class="post-detail-header-mid clear-xs">
                    <div class="post-title"><a href="/">{{ post.title }}</a></div>
                    <div class="post-info">
                        <span><a class="username" href="/user/{{ post.user.id }}">{{ post.user.username }}</a></span>
                        <span class="divider">•</span>
                        <span>{{ post.create_time }}</span>
                        {% if post.latest_reply_user %}
                        <span class="divider">•</span>
                        <span><a class="username"
                                 href="/user/{{ post.latest_reply_user.id }}">{{ post.latest_reply_user.nickname }} </a>最后回复</span>
                        {% end %}
                        {% if ext.is_own or ext.is_auth %}
                        <span class="divider">|</span>
                        <span class="important-font"><a href="/post/{{ post.id }}/modify">修改 <i class="fa fa-pencil"></i></a></span>
                        {% end %}
                        {% if ext.is_own or ext.is_auth %}
                        <span class="divider">|</span>
                        <span class="important-font"><a href="#blank" del-post="{{ post.id }}">删除 <i class="fa fa-trash"></i></a></span>
                        {% end %}
                    </div>
                </div>
            </div>
            <div class="card-block">
                <div class="">
                    <div class="post-content">
                        {% raw post.content %}
                    </div>
                    <div class="post-function">
                            <span>
                                {% if ext.is_collect %}
                                <a href="#blank" class="collect-post post-collected"><i
                                        class="fa fa-bookmark-o"></i><span>已收藏</span></a>
                                {% else %}
                                <a href="#blank" class="collect-post"><i
                                        class="fa fa-bookmark-o"></i><span>收藏</span></a>
                                {% end %}
                            </span>
                        <span class="divider">•</span>
                        <span>{{ post.visit_count }} 浏览</span>
                        <!-- <span><a href="#blank" class=""><i class="fa fa-thumbs-o-up"></i>点赞</a></span> -->
                    </div>
                </div>

                <!-- 文章回复列表 -->
                <div class="post-reply">
                    {% for i, post_reply in enumerate(post_replys) %}
                    <div class="reply-item" reply_id="{{ post_reply.id }}">
                        {% set user = post_reply.user %}
                        <div class="avatar hidden-xs ">
                            <a class="username" href="/user/{{ user.id }}">
                                {% if user.avatar %}
                                <img src="/assets/images/avatar/{{ user.avatar }}">
                                {% else %}
                                <span>{{ user.username[0].upper() }}</span>
                                {% end %}
                            </a>
                        </div>
                        <div class="reply-main clear-xs">
                            <div class="reply-head">
                                <span><a class="username"
                                         href="/user/{{ post_reply.user.id }}">{{ post_reply.user.username }}</a></span>
                                <span class="divider">•</span>
                                <span class="friendly-time">{{ datetime_delta(post_reply.create_time) }}</span>
                                <span class="divider">•</span>
                                <span>{{ post_reply.like_count }} 赞同</span>
                                <span class="divider">•</span>
                                <span class="floor">#{{ i }}</span>
                            </div>
                            <div class="reply-content">
                                {% raw post_reply.content %}
                            </div>
                            <div class="reply-function">
                                <!-- <span> <a href="/"><i class="fa fa-reply"></i>回复</a></span> -->
                                <span><a href="#support" class="support-reply"><i
                                        class="fa fa-thumbs-o-up"></i><span>赞同</span></a></span>
                            </div>
                        </div>
                    </div>
                    {% end %}
                </div>
                <!-- 评论框 -->
            </div>
        </div> <!-- end card-->
        <div class="card custom-card post-reply-card">
            <div class="card-header">
                新回复
            </div>
            <div class="card-block">
                {% if current_user %}
                <form>
                    <div class="mediumeditor" id="mediumeditor">Please Write Here.</div>
                    <div class="form-group float-left">
                        <img class="emoji" id="emoji-btn" src="/assets/images/emoji/basic/smile.png">
                        <ul id="emoji-list" class="emojis list-inline" style="display: none;">
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-primary float-right">提交</button>
                </form>
                {% else %}
                <div class="text-center">
                    <div class="btn-group" style="text-align:center;">
                        <a class="btn btn-sm btn-outline-primary" role="button" href="/login">登陆</a>
                        <a class="btn btn-sm btn-primary" style="color:#fff;" role="button" href="/register">注册</a>
                    </div>
                </div>
                {% end %}
            </div>
        </div>
    </div> <!-- end col-md-9-->
    <div class="col-md-3">
        <div class="card notice-card custom-card">
            <div class="card-header">
                <i class="fa fa-flag" aria-hidden="true"></i>通知
            </div>
            <div class="card-block">
                <p>1. 目前社区上线测试, 欢迎大家提各种意见. </p>
                <p>2. 社区已经开源, 传送门. <a target="_blank" href="https://github.com/jmpews/torweb"><i class="fa fa-github"
                                                                                                 aria-hidden="true"></i>torweb</a>
                </p>
                <!--{% if not current_user %}-->
                <!--<p><a class="btn btn-outline-primary" href="/login" role="button">登陆</a></p>-->
                <!--<div>没有账户? <a href="/register">点击注册</a></div>-->
                <!--{% else %}-->
                <!--{{current_user.username}}-->
                <!--{% end %}-->
            </div>
        </div>
        <div class="card post-hot-card custom-card">
            <div class="card-header">
                <i class="fa fa-fire" aria-hidden="true"></i> Hot文章
            </div>
            <div class="card-block">
                <ul class="">
                    {% for p in hot_post_cache['reply'] %}
                    <li><span class="">{{ p.reply_count }} ℃</span> <span class="important-divider">|</span> <a
                            href="/post/{{ p.id }}">{{ p.title }}</a></li>
                    {% end %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% end %}

{% block scripts %}
<script src="/assets/js/medium-editor.min.js"></script>
<script src="/assets/js/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
    $(document).ready(function () {
        var post = $('#post-id').attr('post-id');
        editor = new MediumEditor('#mediumeditor', {
            paste: {
                /* This example includes the default options for paste,
                 if nothing is passed this is what it used */
                forcePlainText: false,
                cleanPastedHTML: false,
                cleanReplacements: [],
                cleanAttrs: ['class', 'style', 'dir'],
                cleanTags: ['meta']
            },
            toolbar: {
                /* These are the default options for the toolbar,
                 if nothing is passed this is what is used */
                allowMultiParagraphSelection: true,
                buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3', 'quote'],
                diffLeft: 0,
                diffTop: -10,
                firstButtonClass: 'medium-editor-button-first',
                lastButtonClass: 'medium-editor-button-last',
                relativeContainer: null,
                standardizeSelectionStart: false,
                static: false,
                /* options which only apply when static is true */
                align: 'center',
                sticky: false,
                updateOnEmptySelection: false
            }
        });
        $('form').on('submit', function (event) {
            event.preventDefault();
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '/postreply/add',
                data: {
                    'post': post,
                    'content': $('#mediumeditor').html()
                },
                success: function (result, status) {
                    if (result.errorcode == 0) {
                        window.location.href = "/post/" + result.data['post_id'];
                    }
                    else if (result.errorcode == 1) {
                        alert(result.txt);
                    }
                }
            });
            return 1;
        });

        // 支持
        $('.support-reply').on('click', function (e) {
            var reply_id = $(e.target).parents('.reply-item[reply_id]').attr('reply_id');
            if (!reply_id)
                $.notify('错误....');
            var post_data = {'opt': 'support-postreply', 'data': {'postreply': reply_id}};
            if ($(e.currentTarget).hasClass('postreply-collected')) {
                post_data = {'opt': 'cancle-support-postreply', 'data': {'postreply': reply_id}};
            }
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '/postreplyopt',
                data: JSON.stringify(post_data),
                success: function (result, status) {
                    if (result.errorcode == 0) {
                        if ($(e.currentTarget).hasClass('postreply-collected')) {
                            $(e.currentTarget).removeClass('postreply-supported');
                            $.notify('...');
                        }
                        else {
                            $(e.currentTarget).addClass('postreply-supported');
                            $.notify('...');
                        }
                    }
                    else if (result.errorcode == -3) {
                        $('#loginModal').modal('toggle');
                        $('.captcha').click();
                    }
                }
            });
        });

        // 收藏
        $('.collect-post').on('click', function (e) {
            e.preventDefault();
            var post_data = {'opt': 'collect-post', 'data': {'post': post}};
            if ($(e.currentTarget).hasClass('post-collected')) {
                post_data = {'opt': 'cancle-collect-post', 'data': {'post': post}};
            }
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '/postreplyopt',
                data: JSON.stringify(post_data),
                success: function (result, status) {
                    if (result.errorcode == 0) {
                        if ($(e.currentTarget).hasClass('post-collected')) {
                            $(e.currentTarget).removeClass('post-collected');
                            $(e.currentTarget).find('span').html('收藏');
                            $.notify('取消收藏');
                        }
                        else {
                            $(e.currentTarget).addClass('post-collected');
                            $(e.currentTarget).find('span').html('已收藏');
                            $.notify('收藏成功...');
                        }
                    }
                    else if (result.errorcode == -3) {
                        $('#loginModal').modal('toggle');
                        $('.captcha').click();
                    }
                }
            });
        }).on('mouseover', function (e) {
            if ($(e.currentTarget).hasClass('post-collected')) {
                $(e.currentTarget).find('span').html('取消收藏');
            }
            else
                $(e.currentTarget).find('span').html('收藏');
        }).on('mouseout', function (e) {
            if ($(e.currentTarget).hasClass('post-collected'))
                $(e.currentTarget).find('span').html('已收藏');
            else
                $(e.currentTarget).find('span').html('收藏');
        });

        // 删除post
        $('[del-post]').on('click', function (e) {
            console.log('del-post.');
            var post_id = $(e.currentTarget).attr('del-post');
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '/postreplyopt',
                data: JSON.stringify({
                    'opt': 'del-post',
                    'data': {
                        'post-id': post_id
                    }
                }),
                success: function (result, status) {
                    console.log(result);
                    if (result.errorcode == 0) {
                        window.location.href = '/';
                    }
                }
            });
        });
    });
</script>
<script>
    init_tiny_nav();
    show_hide_cate_nav();
    show_hide_emoji_list_medium();
    load_emoji_medium();
</script>
{% end %}
