{% extends "base_recommend.html" %}
{% block title %}Tornado.Index{% end %}
{% block styles %}
 <style>
 </style>
{% end %}
{% block content %}
    <div class="recommend-header">
        <div class="title-inner">
            <div class="title">
                <div class="text-center main-title">
                    好&nbsp;荐
                </div>
                <div class="text-center sub-title">
                    值得推荐的产品...
                </div>
            </div>

        </div>
        <div class="author">
            Photo by: Ada阿达
        </div>
    </div>
    <section>
        <div class="section-header">
            值得推荐的软件
        </div>
        <div class="section-content">

        </div>
    </section>
{% end %}

{% block scripts %}
{% end %}
