<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>React Webpack Template Title</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="./assets/css/bootstrap.css">
<link rel="stylesheet" href="./assets/css/index.css">
</head>
<body>
    <div class="header cl">
        <div class="header-container cl">
            <div class="header-logo">
                <a href="/">Jmp</a>
            </div>
            <ul class="header-nav cl">
                <li>
                    <a href="/">首页 <span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a href="/">社区</a>
                </li>
                <li>
                    <a href="#">列表</a>
                </li>
                <li>
                    <a href="#">工具</a>
                </li>
            </ul>
            <div class="header-tip hidden-xs">
                {% if not current_user %}
                <div class="btn-group" style="">
                    <a class="btn btn-sm btn-outline-primary" role="button" href="/login">登陆</a>
                    <a class="btn btn-sm btn-outline-primary" role="button" href="/register">注册</a>
                </div>
                {% else %}
                <ul class="options list-inline">
                    <li class="dropdown">
                        <a href="/" id="user-avatar">
                            <img src="http://cdn.v2ex.co/avatar/3256/c48f/167722_normal.png?m=1460365682">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="user-avatar">
                            <li class="dropdown-item"><a href="#">个人中心</a></li>
                            <li class="dropdown-item"><a href="#">账号设置</a></li>
                            <li class="dropdown-item"><a href="#">退出</a></li>
                        </ul>
                    </li>
                    <li><a href="#">消息</a></li>
                    <li><a href="/post/add">新主题</a></li>
                </ul>
                {% end %}
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-container container">
            <div class="post-item cl">
                <div class="item-main col-md-11">
                <div class="avatar hidden-xs">
                    <a href="#"><img src="https://avatars0.githubusercontent.com/u/4661301?v=3&s=100"></a>
                </div>
                <div class="item-mid clear-xs">
                    <div class="item-title"><a href="/">4-13.test</a></div>
                    <div class="item-info">
                        <span> 漏洞研究 </span> <span><a href="/">jmpews</a></span> <span> 20分钟前 </span> <span> 2人浏览<span>
                    </div>
                </div>
                </div>
                <div class="item-end col-md-1 hidden-xs">
                    <span> 30 </span>
                </div>
            </div>

            <div class="post-item cl">
                <div class="item-main col-md-11">
                <div class="avatar hidden-xs">
                    <a href="#"><img src="http://cdn.v2ex.co/avatar/3256/c48f/167722_normal.png?m=1460365682"></a>
                </div>
                <div class="item-mid clear-xs">
                    <div class="item-title"><a href="/">4-13.test</a></div>
                    <div class="item-info">
                        <span> 漏洞研究 </span> <span> <a href="/">jmpews</a> </span> <span> 20分钟前 </span> <span> 2人浏览<span>
                    </div>
                </div>
                </div>
                <div class="item-end col-md-1 hidden-xs">
                    <span> 30 </span>
                </div>
            </div>

             <div class="post-item cl">
                <div class="item-main col-md-11">
                <div class="avatar hidden-xs">
                    <a href="#"><img src="http://cdn.v2ex.co/gravatar/ff5f2cbaa5e8c97198c8843ad7047681?s=48&d=retro" ></a>
                </div>
                <div class="item-mid clear-xs">
                    <div class="item-title"><a href="/">4-13.test</a></div>
                    <div class="item-info">
                        <span> 漏洞研究 </span> <span><a href="/">jmpews</a></span> <span> 20分钟前 </span> <span> 2人浏览<span>
                    </div>
                </div>
                </div>
                <div class="item-end col-md-1 hidden-xs">
                    <span> 30 </span>
                </div>
            </div>
            {% for post in posts %}
            <div class="post-item cl">
                <div class="item-main col-md-11">
                <div class="avatar hidden-xs">
                    <a href="#"><img src="http://cdn.v2ex.co/gravatar/ff5f2cbaa5e8c97198c8843ad7047681?s=48&d=retro" ></a>
                </div>
                <div class="item-mid clear-xs">
                    <div class="item-title"><a href="/post/{{post['id']}}">{{post['title']}}</a></div>
                    <div class="item-info">
                        <span> {{post['category']}} </span> <span><a href="/">{{post['username']}}</a></span> <span> {{post['create_time']}} </span> <span> {{post['visit_count']}}人浏览<span>
                    </div>
                </div>
                </div>
                <div class="item-end col-md-1 hidden-xs">
                    <span> {{post['reply_count']}} </span>
                </div>
            </div>
            {% end %}
            <nav style="text-align:center">
                <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="footer">
        <div class="footer-container container">
            <div class="cl hidden-xs">
                <dl class="col-sm-2">
                    <dt>网站相关</dt>
                    <dd><a href="/">关于我们</a></dd>
                    <dd><a href="/">网站条款</a></dd>
                </dl>
                <dl class="col-sm-2">
                    <dt>联系合作</dt>
                    <dd><a href="/">联系我们</a></dd>
                    <dd><a href="/">加入我们</a></dd>
                </dl>
                <dl class="col-sm-2">
                    <dt>关注我们</dt>
                    <dd><a href="/">Github</a></dd>
                    <dd><a href="/">Weibo</a></dd>
                </dl>
            </div>
            <div class="footer-logo">
                <span>jmpews copyright</span> <span>2016-04-20</span>
            </div>
        </div>
    </div>

    <script>__REACT_DEVTOOLS_GLOBAL_HOOK__ = parent.__REACT_DEVTOOLS_GLOBAL_HOOK__</script>
    <script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/parsley.js/2.3.5/parsley.min.js"></script>
    <script src="/assets/js/i18n/zh_cn.js"></script>
    <script src="/assets/js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
</body>
</html>
