{% extends "base.html" %}

{% block title %}Tornado.Index{% end %}

{% block content %}
    <div class="content-container container">
        <div class="post-list col-md-9">
        <div class="card">
            <div class="card-header">
                主题:
                <a href="/">学习资料</a> /
                <a class="active" href="/">通知公告</a> /
                <a href="/">考研</a> /
                <a href="/">讨论</a> /
                <a href="/">全部分类</a>
            </div>
            <div class="card-block">
            {% for post in posts %}
            <div class="post-item cl">
                <div class="avatar hidden-xs">
                    <a href="#"><img src="/avatar/{{post['avatar']}}" ></a>
                </div>

                <div class="item-mid clear-xs">
                    <div class="item-title"><a href="/post/{{post['id']}}">{{post['title']}}</a></div>
                    <div class="item-info">
                        <span> {{post['category']}} </span> <span><a href="/">{{post['username']}}</a></span> <span> {{post['create_time']}} </span> <span> {{post['visit_count']}}人浏览<span>
                    </div>
                </div>
                <div class="item-end hidden-xs">
                    <span> {{post['reply_count']}} </span>
                </div>

            </div>
            {% end %}
            <nav style="text-align:center">
                <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                </ul>
            </nav>
            </div>
        </div>
        </div>
        <div class="sidebar col-md-3">
            <div class="card register-card">
                <div class="card-header">
                    登陆
                </div>
                <div class="card-block">
                    {% if not current_user %}
                        <p><a class="btn btn-primary" href="/login" role="button">登陆</a></p>
                        <div>没有账户? <a href="/register">点击注册</a></div>
                    {% else %}
                        {{current_user.username}}
                    {% end %}
                </div>
            </div>

            <div class="card system-status-card">
                <div class="card-header">
                    服务器状态
                </div>
                <div class="card-block">
                    <dl class="row">
                        <dt class="col-xs-6">CPU使用率:</dt>
                        <dd class="col-xs-6"><span class="cpu-per">{{systatus[0]}}</span></dd>
                        <dt class="col-xs-6">RAM使用率:</dt>
                        <dd class="col-xs-6"><span class="ram-per">{{systatus[1]}}</span></dd>
                        <dt class="col-xs-6">连接数:</dt>
                        <dd class="col-xs-6"><span class="net-conn">{{systatus[2]}}</span></dd>
                        <dt class="col-xs-6">系统启动时间:</dt>
                        <dd class="col-xs-6"><span class="os-start">{{systatus[3]}}</span></dd>

                    </dl>
                </div>
            </div>

        </div>
    </div>
{% end %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        monitor_system_status()
    });
</script>
{% end %}
