{% extends "base.html" %}

{% block title %}Tornado.Post.Detail{% end %}

{% block styles %}
<link rel="stylesheet" href="/assets/css/summernote.css">
<link href="/assets/css/font-awesome.min.css" rel="stylesheet">
{% end %}

{% block content %}
    <div class="content">
        <div class="content-container container">
            <div class="content-header">
                <h3><span class="glyphicon glyphicon-grain" aria-hidden="true"></span>发帖子</h3>
            </div>
            <form data-parsley-validate="" action="/post/add" method="post">
                <fieldset class="form-group">
                    <label for="title">帖子标题</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="请输入标题" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="password">内容</label>
                    <div id="summernote">Please Write Here.</div>
                    <input name="content" style="display:none;"/>
                </fieldset>
                <button type="submit" class="btn btn-primary">提交</button>
            </form>
        </div>
    </div>
{% end %}

{% block scripts %}
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/summernote.js"></script>
<script src="/assets/js/i18n/summernote-zh-CN.js"></script>
<script type="text/javascript">
$('#summernote').summernote({
    lang: 'zh-CN',
    height: 300,                 // set editor height
    minHeight: null,             // set minimum height of editor
    maxHeight: null,             // set maximum height of editor
    focus: true,                  // set focus to editable area after initializing summernote
    toolbar: [
        ['sytle',['style','bold','italic','underline','color','fontsize']],
        ['para',['ol','ul','paragraph']],
        ['insert',['picture','link','table']],
        ['misc', ['codeview']]
    ]
});
$('form').on('submit', function (e) {
    $(e.target).find('[name=content]').val($('#summernote').summernote('code'));
    return 1;
});
</script>
{% end %}
