<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>React Webpack Template Title</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="/assets/css/bootstrap.css">
<link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
    <div class="header cl">
        <div class="header-container cl">
            <div class="header-logo">
                <a href="/">Jmp</a>
            </div>
            <ul class="header-nav cl">
                <li>
                    <a href="/">首页 <span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a href="/">社区</a>
                </li>
                <li>
                    <a href="#">列表</a>
                </li>
                <li>
                    <a href="#">工具</a>
                </li>
            </ul>
            <div class="header-tip hidden-xs">
                {% if not current_user %}
                <div class="btn-group" style="">
                    <a class="btn btn-sm btn-outline-primary" role="button" href="/login">登陆</a>
                    <a class="btn btn-sm btn-outline-primary" role="button" href="/register">注册</a>
                </div>
                {% else %}
                <ul class="options list-inline">
                    <li class="dropdown">
                        <a href="/" id="user-avatar">
                            <img src="http://cdn.v2ex.co/avatar/3256/c48f/167722_normal.png?m=1460365682">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="user-avatar">
                            <li class="dropdown-item"><a href="#">个人中心</a></li>
                            <li class="dropdown-item"><a href="#">账号设置</a></li>
                            <li class="dropdown-item"><a href="#">退出</a></li>
                        </ul>
                    </li>
                    <li><a href="#">消息</a></li>
                    <li><a href="#">新主题</a></li>
                </ul>
                {% end %}
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-container container">
            <div class="post-detail">
                <div class="post-title"><a href="/">{{post_detail['title']}}</a></div>
                <div class="post-info"><span><a href="/">jmpews</a></span> <span>20分钟前</span></div>
IDS(intrusion detection system),即入侵检测系统。是一种对网络传输进行即时监视，在发现可疑传输时发出警报或者采取主动反应措施的网络安全设备。它与其他网络安全设备的不同之处便在于，IDS是一种积极主动的安全防护技术。
                <div class="post-content"></div>
                <div class="post-function"><span><a href="/">收藏</a></span><span><a href="/">点赞</a></span></div>
            </div>

            <div class="post-reply">
                <div class="reply-item">
                    <div class="avatar"><img src="https://avatars0.githubusercontent.com/u/4661301?v=3&s=100"></div>
                    <div class="reply-main">
                        <div class="reply-head">
                            <span><a href="/">jmpews</a></span> <span>11分钟前</span> <span>201赞同</span>
                        </div>
                        <div class="reply-content">
                            入侵检测系统的核心价值在于通过对全网信息的分析，了解信息系统的安全状况，进而指导信息系统安全建设目标以及安全策略的确立和调整，而入侵防御系统的核心价值在于安全策略的实施—对黑客行为的阻击;入侵检测系统需要部署在网络内部，监控范围可以覆盖整个子网，包括来自外部的数据以及内部终端之间传输的数据，入侵防御系统则必须部署在网络边界，抵御来自外部的入侵，对内部攻击行为无能为力。
                        </div>
                        <div class="info">
                            <span> <a href="/">回复</a></span> <span><a href="/">赞同</a></span>
                        </div>
                    </div>
                </div>

                <div class="reply-item">
                    <div class="avatar"><img src="https://avatars0.githubusercontent.com/u/4661301?v=3&s=100"></div>
                    <div class="reply-main">
                        <div class="reply-head">
                            <span><a href="/">jmpews</a></span> <span>11分钟前</span> <span>201赞同</span>
                        </div>
                        <div class="reply-content">
                            入侵检测系统的核心价值在于通过对全网信息的分析，了解信息系统的安全状况，进而指导信息系统安全建设目标以及安全策略的确立和调整，而入侵防御系统的核心价值在于安全策略的实施—对黑客行为的阻击;入侵检测系统需要部署在网络内部，监控范围可以覆盖整个子网，包括来自外部的数据以及内部终端之间传输的数据，入侵防御系统则必须部署在网络边界，抵御来自外部的入侵，对内部攻击行为无能为力。
                        </div>
                        <div class="info">
                            <span> <a href="/">回复</a></span> <span><a href="/">赞同</a></span>
                        </div>
                    </div>
                </div>
                {% for post_reply in post_replys %}
                <div class="reply-item">
                    <div class="avatar"><img src="https://avatars0.githubusercontent.com/u/4661301?v=3&s=100"></div>
                    <div class="reply-main">
                        <div class="reply-head">
                            <span><a href="/">{{post_reply['username']}}</a></span> <span>{{post_reply['create_time']}}</span> <span>{{post_reply['like_count']}}赞同</span>
                        </div>
                        <div class="reply-content">
                            {{post_reply['content']}}
                        </div>
                        <div class="info">
                            <span> <a href="/">回复</a></span> <span><a href="/">赞同</a></span>
                        </div>
                    </div>
                </div>
                {% end %}
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-container container">
            <div class="cl hidden-xs">
                <dl class="col-sm-2">
                    <dt>网站相关</dt>
                    <dd><a href="/">关于我们</a></dd>
                    <dd><a href="/">网站条款</a></dd>
                </dl>
                <dl class="col-sm-2">
                    <dt>联系合作</dt>
                    <dd><a href="/">联系我们</a></dd>
                    <dd><a href="/">加入我们</a></dd>
                </dl>
                <dl class="col-sm-2">
                    <dt>关注我们</dt>
                    <dd><a href="/">Github</a></dd>
                    <dd><a href="/">Weibo</a></dd>
                </dl>
            </div>
            <div class="footer-logo">
                <span>jmpews copyright</span> <span>2016-04-20</span>
            </div>
        </div>
    </div>

    <script>__REACT_DEVTOOLS_GLOBAL_HOOK__ = parent.__REACT_DEVTOOLS_GLOBAL_HOOK__</script>
    <script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/parsley.js/2.3.5/parsley.min.js"></script>
    <script src="/assets/js/i18n/zh_cn.js"></script>
    <script src="/assets/js/main.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
    });
    </script>
</body>
</html>
