{% extends "base.html" %}

{% block title %}Tornado.Post.Detail{% end %}
{% block styles %}
<link href="/assets/css/font-awesome.min.css" rel="stylesheet">
{% end %}

{% block content %}
        <div class="content-container container user-profile-notification-html">
            <div class="col-md-3">
                <div class="user-profile-widget">
                    <img src="/avatar/{{current_user.avatar}}">
                    <dl class="row">
                        <dt class="col-xs-6">用户名:</dt>
                        <dd class="col-xs-6"><span>@{{current_user.username}}</span></dd>
                        <dt class="col-xs-6">注册时间:</dt>
                        <dd class="col-xs-6"><span class="friendly-time">{{datetime_delta(profile.reg_time)}}</span></dd>
                        <dt class="col-xs-6">上次登录时间:</dt>
                        <dd class="col-xs-6"><span class="friendly-time">{{datetime_delta(profile.last_login_time)}}</span></dd>
                    </dl>
                </div>
            </div>
            <div class="col-md-9">
                <div class="user-profile-trend">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="/user/edit">个人设置</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/user/notification">消息通知</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">个人关注</a>
                        </li>
                    </ul>
                    <div class="">
                        <div class="user-profile-card">
                            <div class="profile-card-head">
                                消息通知
                            </div>
                            <div class="profile-card-body">
                                <ul class="list-inline">
                                    {% for notice in notifications %}
                                        {% if notice.opt == 1 %}
                                        <li>
                                            <a class="username" href="/user/{{notice.extra_user.id}}">{{notice.extra_user.username}}</a>
                                            {{notice.msg}}
                                            <a href="/post/{{notice.extra_post.id}}">《{{notice.extra_post.title}}》</a>
                                        </li>
                                        {% elif notice.opt == 2 %}
                                        <li>
                                            <a class="username" href="/user/{{notice.extra_user.id}}">{{notice.extra_user.username}}</a>
                                            {{notice.msg}}
                                            <a href="/post/{{notice.extra_post.id}}">《{{notice.extra_post.title}}》</a>
                                            :
                                            <a href="/post/{{notice.extra_post.id}}">{{notice.extra_post_reply.content}}</a>
                                        </li>
                                        {% else %}
                                        {% end %}
                                    {% end %}
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
{% end %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        monitor_system_status()
    });
</script>
{% end %}
