{% extends "base.html" %}

{% block title %}Tornado.Post.Detail{% end %}
{% block styles %}
<link rel="stylesheet" href="/assets/css/summernote.css">
<link href="/assets/css/font-awesome.min.css" rel="stylesheet">
{% end %}

{% block content %}

    <div class="content">
        <div class="content-container container">
            <div class="col-md-3">
                <div class="user-profile">
                    <img src="/static/images/avatar_03.png">
                    <dl class="row">
                        <dt class="col-xs-6">用户名:</dt>
                        <dd class="col-xs-6"><span>@{{userinfo['username']}}</span></dd>
                        <dt class="col-xs-6">注册时间:</dt>
                        <dd class="col-xs-6"><span>{{userinfo['reg_time']}}</span></dd>
                        <dt class="col-xs-6">上次登录时间:</dt>
                        <dd class="col-xs-6"><span>30分钟前</span></dd>
                    </dl>
                </div>
            </div>
            <div class="col-md-9">
                <div class="user-trend">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">个人资料</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">发布主题</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">个人关注</a>
                        </li>
                    </ul>
                    <div class="profile-detail">
                        <div class="profile-card">
                            <div class="profile-card-head" style="border-top: none;">
                                个人资料
                            </div>
                            <div class="profile-card-body">
                                <ul class="list-inline">
                                    <li>{{userinfo['nickname']}}</li>
                                    <li>第8231号Member</li>
                                    <li>2016-08-07加入</li>
                                </ul>
                            </div>
                        </div>
                        <div class="profile-card">
                            <div class="profile-card-head">
                                发表过的主题
                            </div>
                            <div class="profile-card-body">
                                <ul class="list-inline">
                                    <li> <a href="/">IDS防御系统兼职</a></li>
                                    {% for post in userinfo['posts'] %}
                                    <li> <a href="/post/{{post.id}}">{{post.title}}</a></li>
                                    {% end %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% end %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        monitor_system_status()
    });
</script>
{% end %}
