{% extends "base.html" %}
{% block title %}Tornado.Index{% end %}

{% block content %}
    <div class="content">
        <div class="content-container container">
            <div class="col-md-3">
                <div class="user-avatar-edit">
                    <form enctype="multipart/form-data" action="/user/avatar/edit" method="post">
                    <img id="avatar-preview"src="/avatar/{{current_user.avatar}}">
                    <button class="btn btn-outline-primary select-avatar"><input type="file" class="file-input" id="avatar" name="avatar" onchange="change_image_preview()">选择</button>
                    <button type="submit" class="btn btn-outline-primary">保存</button>
                    </form>
                </div>
            </div>
            <div class="col-md-9">
                <div class="user-profile-edit">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">个人资料</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">安全设置</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">系统设置</a>
                        </li>
                    </ul>
                    <div class="user-profile-edit-body">
                        <div class="profile-card">
                            <div class="profile-card-head" style="border-top: none;">
                                个人资料
                            </div>
                            <div class="profile-card-body">

                                <form data-parsley-validate="" action="/user/edit" method="post">
                                <div class="form-group row">
                                    <label class="col-xs-2 col-form-label" for="nickname">用户昵称</label>
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" placeholder="用户昵称" name="nickname" id="nickname" value="{{userinfo['nickname']}}" data-parsley-length="[3, 8]" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xs-2 col-form-label" for="website">个人主页</label>
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" placeholder="个人web站点" name="website" id="website" value="{{userinfo['website']}}" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary">保存</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% end %}

{% block scripts %}
<script type="text/javascript">
$('form').on('submit', function (e) {
    return 1;
});
</script>
{% end %}
