{% extends "base.html" %}
{% block title %}Tornado.Index{% end %}
{% block styles %}
<link href="//cdn.bootcss.com/cropper/2.3.3/cropper.min.css" rel="stylesheet">
{% end %}
{% block content %}
        <div class="content-container container user-profile-edit-html">
            <div class="col-md-3">
                <div class="user-avatar-edit">
                    <form enctype="multipart/form-data" action="/user/avatar/edit" method="post">
                        <img id="avatar-preview"src="/avatar/{{current_user.avatar}}">
                    <button class="btn btn-outline-primary btn-sm select-avatar">
                        <input type="file" class="file-input" id="avatar" name="avatar" onchange="change_image_preview()">选择
                    </button>
                    <button type="submit" class="btn btn-outline-primary btn-sm upload-avatar">保存</button>
                    </form>
                </div>
            </div>
            <div class="col-md-9">
                <div class="user-profile-edit">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="/user/edit">个人设置</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/notification">消息通知</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">个人关注</a>
                        </li>
                    </ul>
                    <div class="user-profile-edit-body">
                        <div class="user-profile-card">
                            <div class="profile-card-head" style="border-top: none;">
                                个人资料
                            </div>
                            <div class="profile-card-body">

                                <form data-parsley-validate="" action="/user/edit" method="post">
                                <div class="form-group row">
                                    <label class="col-xs-2 col-form-label" for="nickname">用户昵称</label>
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" placeholder="用户昵称" name="nickname" id="nickname" value="{{userinfo['nickname']}}" data-parsley-length="[3, 8]" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xs-2 col-form-label" for="website">个人主页</label>
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" placeholder="个人web站点" name="website" id="website" value="{{userinfo['website']}}" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <button type="submit" class="btn btn-primary">保存</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% end %}

{% block scripts %}
<script src="//cdn.bootcss.com/cropper/2.3.3/cropper.min.js"></script>
<script type="text/javascript">
$('#avatar-preview').cropper({
    viewMode: 3,
    aspectRatio: 1 / 1,
    autoCropArea: 0.5,
    checkImageOrigin: true,
});

$('.upload-avatar').on('click', function(e){
    e.preventDefault();
    var avatar64 = $('#avatar-preview').cropper('getCroppedCanvas', {width: 100, height: 100}).toDataURL()
    $.ajax({
       type: 'post',
       dataType: 'json',
       url: '/useropt',
       data: JSON.stringify({'opt': 'update-avatar', 'data': {'avatar': avatar64.split(',')[1]}}),
       success: function(result, status) {
           if(result.errorcode == 0) {
               $.notify('头像更换成功');
           }
           else if(result.errorcode == 1) {
               alert(result.txt);
           }
       }
    });
});


$('form').on('submit', function (e) {
    return 1;
});
</script>
{% end %}
