html {
  box-sizing: border-box;
}

body {
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica, "PingFang SC";
  font-weight: 400;
  color: #999;
  font-size: 13px;
  line-height: 1.5;
  margin: 0;
  background-color: #fff;
}
body a {
  color: #999;
}
body a:hover, body a:focus {
  color: #e95420;
}

.content-container {
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 7px;
}

@media (min-width: 1200px) {
  .content-container {
    max-width: none;
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
}
@media (min-width: 1450px) {
  .content-container {
    max-width: none;
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}
.divider {
  margin: 0 3px;
  color: #999;
}

.important-divider {
  margin: 0 3px;
  color: #e95420;
}

.blur {
  -moz-filter: blur(5px);
  -webkit-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.important-font {
  color: #666 !important;
}

.light-font {
  color: #bfbfbf !important;
}
.light-font:hover {
  color: #666 !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}
.list-inline li {
  float: left;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.float-left {
  float: left;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.cl::after {
  clear: both;
  content: " ";
  display: table;
}

.captcha {
  height: 40px;
  border: 1px solid #eaeaea;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }

  .clear-xs {
    max-width: inherit !important;
    height: inherit !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}
.fa {
  padding: 0 3px;
}

.note-toolbar {
  padding: 0;
  background-color: #fff;
  border-bottom: none;
}
.note-toolbar > .btn-group {
  margin-top: 0;
}
.note-toolbar .note-btn {
  background: none;
  border: none;
}
.note-toolbar .note-btn:visited, .note-toolbar .note-btn:focus {
  background-color: #dadada;
}
.note-toolbar .note-btn.active {
  background-color: #dadada;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

img {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
  margin-top: 0;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: none;
}

.tag-success {
  background-color: #e95420;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs .nav-item {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs .nav-link {
  display: block;
  padding: 0.5em 1em;
  border: 1px solid transparent;
  border-top-right-radius: 0.1rem;
  border-top-left-radius: 0.1rem;
}
.nav-tabs .nav-item + .nav-item {
  margin-left: 0.2rem;
}
.nav-tabs::after {
  content: "";
  display: table;
  clear: both;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #eceeef #eceeef #ddd;
}

.nav-tabs .nav-link.disabled, .nav-tabs .nav-link.disabled:focus, .nav-tabs .nav-link.disabled:hover {
  color: #818a91;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover,
.nav-tabs .nav-item.open .nav-link,
.nav-tabs .nav-item.open .nav-link:focus,
.nav-tabs .nav-item.open .nav-link:hover {
  color: #55595c;
  background-color: #fff;
  border-color: #ddd #ddd transparent;
}

form fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
form .form-group {
  margin-bottom: 1rem;
}
form label {
  display: inline-block;
  margin-bottom: .5rem;
}
form .form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid #eaeaea;
  border-radius: 0.1rem;
}
form .form-control:focus {
  color: #55595c;
  background-color: #fff;
  border-color: #e95420;
  outline: none;
}
form .form-control:disabled, form .form-control[readonly] {
  background-color: #eceeef;
  opacity: 1;
}
form .form-control:disabled {
  cursor: not-allowed;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.1rem;
}
.pagination .page-item {
  display: inline;
}
.pagination .page-item .page-link {
  position: relative;
  float: left;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #999;
}
.pagination .page-item .page-link:focus, .pagination .page-item .page-link:hover {
  color: #e95420;
  background-color: #eceeef;
  border-color: #ddd;
}
.pagination .page-item:first-child .page-link {
  margin-left: 0;
  border-bottom-left-radius: 0.1rem;
  border-top-left-radius: 0.1rem;
}
.pagination .page-item:last-child .page-link {
  border-bottom-right-radius: 0.1rem;
  border-top-right-radius: 0.1rem;
}

.btn {
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  border-radius: 0.1rem;
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle), .btn-group-vertical > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child), .btn-group-vertical > .btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.btn-group > .btn, .btn-group-vertical > .btn {
  position: relative;
  float: left;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.1rem;
}

.btn-outline-primary {
  color: #e95420;
  border-color: #e95420;
  background-image: none;
  background-color: transparent;
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
  color: #fff !important;
  background-color: #e95420;
  border-color: #e95420;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #e95420;
  border-color: #e95420;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff !important;
  background-color: #ac3911;
  border-color: #ac3911;
  outline: none;
}

.btn-outline-primary:active:hover,
.btn-outline-primary:active:focus,
.btn-outline-primary:active.focus,
.btn-outline-primary.active:hover,
.btn-outline-primary.active:focus,
.btn-outline-primary.active.focus,
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus {
  color: #fff;
  background-color: #ac3911;
  border-color: #ac3911;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 1rem;
  color: #373a3c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.1rem;
}
.dropdown-menu .dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  color: #373a3c;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
}
.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover {
  color: #2b2d2f;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu .dropdown-item.active, .dropdown-menu .dropdown-item.active:focus, .dropdown-menu .dropdown-item.active:hover {
  color: #fff;
  text-decoration: none;
  background-color: #2fca7b;
  outline: 0;
}
.dropdown-menu .dropdown-item.disabled, .dropdown-menu .dropdown-item.disabled:focus, .dropdown-menu .dropdown-item.disabled:hover {
  color: #818a91;
}
.dropdown-menu .dropdown-item.disabled:focus, .dropdown-menu .dropdown-item.disabled:hover {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
}

.card {
  position: relative;
  display: block;
  margin-bottom: 0.75rem;
  border-radius: 0.1rem;
  border-top: none;
  background-color: #fff;
}
.card .card-header {
  font-weight: 400;
  background-color: #fff;
  color: #e95420;
  position: relative;
  padding: 0.5rem 1rem !important;
}
.card .card-header a:hover {
  color: #e95420;
}
.card .card-header .fa {
  padding-right: 5px;
}
.card .card-header::after {
  content: "";
  display: table;
  clear: both;
}
.card .card-header::after {
  content: "";
  width: 50%;
  height: 2px;
  background: #e95420;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.card .card-block {
  padding: 1.25rem;
}
.card .card-block::after {
  content: "";
  display: table;
  clear: both;
}

.col-md-9, .col-md-3, .col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .col-md-9 {
    float: left;
    width: 75%;
  }

  .col-md-3 {
    float: left;
    width: 25%;
  }
}
.col-xs-6 {
  float: left;
  width: 50%;
}

.page-link {
  color: #999;
}

.page-link:focus, .page-link:hover {
  color: #e95420;
}

.form-control:focus {
  border-color: #e95420;
}

.card:beforex {
  background-color: #e95420;
  transition: opacity 0.5s ease;
  bottom: 0;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: absolute;
  width: 100%;
  z-index: 2;
}

@media (max-width: 767px) {
  .header .header-container {
    width: 100% !important;
  }
  .header .header-container .header-logo {
    margin: 0 auto !important;
    width: 50px !important;
    position: absolute !important;
    left: 0px !important;
  }
  .header .header-container .header-nav {
    padding-left: 50px !important;
    max-width: none !important;
  }
  .header .header-container .header-nav li {
    width: 25% !important;
  }
}
.header {
  margin: 0 auto;
  z-index: 999;
  background-color: #fff;
}
.header a {
  color: #999;
}
.header .btn-outline-primary {
  border-color: #ac3911;
}
.header .btn-primary {
  background-color: #ac3911;
  border-color: #ac3911;
}
.header .header-container {
  height: 70px;
  margin: 0 30px;
  line-height: 70px;
}
.header .header-container .header-logo {
  position: relative;
  top: 50px;
  text-align: center;
  font-size: 14px;
  left: -30px;
  background-color: #e95420;
  line-height: 40px;
}
.header .header-container .header-logo .color {
  cursor: pointer;
  display: none;
  width: 25%;
  height: 20px;
}
.header .header-container .header-logo .color.color1 {
  background-color: #FFBCBC;
}
.header .header-container .header-logo .color.color2 {
  background-color: #34495E;
}
.header .header-container .header-logo .color.color3 {
  background-color: #ace6f6;
}
.header .header-container .header-logo .color.color4 {
  background-color: #e95420;
}
.header .header-container .header-logo:hover .color {
  float: left;
  display: block;
}
.header .header-container .header-logo a {
  padding-right: 15px;
  padding-left: 15px;
  color: #fff;
  font-weight: 400;
}
.header .header-container .header-logo a:hover {
  color: #fff;
}
.header .header-container .header-nav {
  width: 100%;
  max-width: 324px;
}
.header .header-container .header-nav li {
  float: left;
  position: relative;
  text-align: center;
  width: 25%;
}
.header .header-container .header-nav li.active, .header .header-container .header-nav li:hover {
  box-shadow: inset 0 -3px 0px #e95420;
}
.header .header-container .header-nav li.active a, .header .header-container .header-nav li:hover a {
  font-weight: 400;
  color: #666;
}
.header .header-container .header-nav li a {
  display: block;
  font-size: 14px;
  text-align: center;
  border-top: 4px solid transparent;
  color: #999;
}
.header .header-container .header-nav li a:focus, .header .header-container .header-nav li a:hover {
  color: #666;
}
.header .header-container .header-tip {
  float: right;
}
.header .header-container .header-tip a {
  color: #e95420;
}
.header .header-container .header-tip a:hover {
  color: #666;
}
.header .header-container .header-tip .options li {
  float: left;
  margin-right: 10px;
  position: relative;
  text-align: center;
}
.header .header-container .header-tip .options li img {
  width: 50px;
}
.header .header-container .header-tip .options li > a {
  padding: 5px;
}
.header .header-container .header-tip .options li > a:hover {
  background-color: rgba(255, 255, 255, 0.26);
}
.header .header-container .header-tip .options li > a:first-of-type {
  background: none;
}
.header .header-container .header-tip .options .dropdown .dropdown-menu {
  font-size: 13px;
  min-width: 0;
  margin: 0px;
}
.header .header-container .header-tip .options .dropdown .dropdown-menu li {
  float: none;
  line-height: normal;
}
.header .header-container .header-tip .options .dropdown .dropdown-menu li a {
  color: #999;
}
.header .header-container .header-tip .options .dropdown .dropdown-menu li a:hover {
  color: #e95420;
  background: none;
}

.footer {
  background-color: white;
  margin-top: 20px;
  padding-top: 20px;
}
.footer .footer-container {
  margin-top: 10px;
}
.footer .footer-container dl {
  margin: 0;
  float: left;
  width: 240px;
  padding-left: 22px;
}
.footer .footer-container dl dt {
  font-size: 16px;
  color: #333;
  font-weight: 300;
  margin-bottom: 10px;
  padding-left: 16px;
  line-height: 1;
  border-left: 3px solid #d8d8d8;
}
.footer .footer-container dl dd {
  line-height: 2;
  font-size: 13px;
  margin-bottom: 4px;
  color: #999;
  margin-left: 20px;
}
.footer .footer-container dl dd a {
  color: #555555;
}
.footer .footer-container .footer-logo {
  margin: 10px;
  text-align: center;
}

@media (max-width: 767px) {
  .content {
    margin-right: 0px !important;
  }
  .content .post-detail {
    padding: 0px !important;
  }

  .side {
    display: none !important;
    width: inherit !important;
    margin-left: 0px !important;
    float: none !important;
  }
}
.content {
  margin-right: 300px;
  padding: 10px 10px;
  background-color: #fff;
}

.side {
  float: right;
  width: 280px;
  padding-left: 20px;
  border-left: 1px solid #eaeaea;
}
.side .post-category a {
  color: #8a8a8a;
}
.side .post-category a:hover {
  color: #e95420;
}
.side .post-label a {
  color: #8a8a8a;
}
.side .post-label a:hover {
  color: #e95420;
}
.side .post-label ul.list-inline li {
  margin: 3px;
}
.side .post-label ul.list-inline li a {
  display: block;
  padding: 3px;
  border-bottom: 1px solid #8a8a8a;
}
.side .post-label ul.list-inline li a:hover {
  background-color: #efefef;
  border-bottom: 1px solid #e95420;
}

.post-list {
  padding: 20px;
  background-color: #fff;
}
.post-list .post-item {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.post-list .post-item .post-title {
  margin: 0px;
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 10px;
}
.post-list .post-item .post-title a {
  color: #666;
}
.post-list .post-item .post-info {
  font-size: 11px;
  margin-bottom: 10px;
  color: #8a8a8a;
}
.post-list .post-item .post-info .post-info-label span {
  color: #666;
}
.post-list .post-item .post-info .post-info-label span:first-of-type {
  color: #8a8a8a;
}
.post-list .post-item .post-summary {
  color: #8a8a8a;
  margin-bottom: 10px;
}
.post-list .post-item .post-function a {
  color: #e95420;
  border-left: 2px solid #e95420;
  padding-left: 4px;
  font-weight: 300;
}

.post-detail {
  padding: 20px;
  background-color: #fff;
}
.post-detail .post-title {
  margin: 0px;
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 5px;
  text-align: center;
  color: #e95420;
}
.post-detail .post-info {
  text-align: center;
}

.post-content {
  padding: 10px;
  color: #666;
  word-wrap: break-word;
  word-break: normal;
}
.post-content blockquote {
  margin: 0 20px;
}
.post-content blockquote p {
  margin-bottom: .33999rem;
  font-style: italic;
  padding: .66001rem 1rem 1rem;
  border-left: 3px solid #A0AABF;
}
.post-content img {
  max-width: 90%;
}

.post-opt .side {
  float: left;
  width: 280px;
  margin-left: 0px;
}
.post-opt .side .card-header .btn {
  color: #fff;
  font-size: inherit;
  padding: 2px 4px;
  background-color: #e95420;
}
.post-opt .side .card-header .btn:hover {
  background-color: #ac3911;
}
.post-opt .side .post-list li {
  line-height: 30px;
}
.post-opt .side .post-list li .btn {
  font-size: inherit;
  padding: 2px 4px;
  border-bottom: 1px solid #e95420;
}
.post-opt .side .post-list li .btn:hover {
  background-color: #efefef;
}
.post-opt .content {
  margin-right: 0px;
  margin-left: 300px;
}
