<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>服务器错误</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/0.3.0/weui.min.css"/>
  <style>
    .footer{
      color: #9C9C9C;
      font-size: 14px;
      text-align: center;
      margin-top: 30px;
    }
  </style>
</head>
<body>
<div class="weui_msg">
  <div class="weui_icon_area"><i class="weui_icon_warn weui_icon_msg"></i></div>
  <div class="weui_text_area">
      <h2 class="weui_msg_title">{{error['txt']}}错误</h2>
  </div>
</div>
<div class="footer">
  <p>Tornado-Project-Generator</p>
  <p>2016 <a style="color: #04BE02;" href="http://weibo.com/winter1ife">@jmpews</a></p>
</div>
<!--<script>__REACT_DEVTOOLS_GLOBAL_HOOK__ = parent.__REACT_DEVTOOLS_GLOBAL_HOOK__</script>-->

</body>
</html>
