a:focus, a:hover {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  color: #34495e;
  margin: 0;
  background-color: #f7f7f7;
  font-size: 13px; }

.cl::after {
  content: "";
  display: table;
  clear: both; }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; }

  .clear-xs {
    margin-left: 0px !important;
    margin-right: 0px !important; }

  .header-container {
    width: 100% !important; }
    .header-container .header-logo {
      margin: 0 auto;
      width: 50px;
      position: absolute; }
    .header-container .header-nav {
      padding-left: 50px;
      max-width: none; }
      .header-container .header-nav li {
        width: 25%; } }
.header {
  color: gray;
  font-size: 13px;
  margin: 0 auto;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 2px 10px #dadbdc; }

.header-container {
  width: 1180px;
  margin: 0 auto; }

.header-logo {
  text-align: center;
  font-size: 14px;
  float: left;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 70px; }

.header-nav {
  height: 70px;
  width: 100%;
  max-width: 324px;
  float: left;
  list-style: none outside none; }

.header-nav li {
  float: left;
  position: relative;
  width: 25%; }
  .header-nav li a {
    display: block;
    padding: 16px 0 20px;
    font-size: 14px;
    color: #9A9999;
    line-height: 30px;
    text-align: center;
    border-top: 4px solid transparent; }
  .header-nav li a:focus, .header-nav li a:hover {
    color: black;
    background-color: #fff;
    box-shadow: 0px -3px 2px rgba(0, 0, 0, 0.17); }

.header-tip {
  line-height: 70px; }

.footer {
  background-color: white;
  margin-top: 20px;
  padding-top: 20px; }
  .footer .footer-container {
    margin-top: 10px; }
    .footer .footer-container dl {
      margin: 0;
      float: left;
      width: 240px;
      padding-left: 22px; }
      .footer .footer-container dl dt {
        font-size: 16px;
        color: #333;
        font-weight: 300;
        margin-bottom: 10px;
        padding-left: 16px;
        line-height: 1;
        border-left: 3px solid #d8d8d8; }
      .footer .footer-container dl dd {
        line-height: 2;
        font-size: 13px;
        margin-bottom: 4px;
        color: #666;
        margin-left: 20px; }
        .footer .footer-container dl dd a {
          color: #555555; }
    .footer .footer-container .footer-logo {
      margin-top: 10px;
      text-align: center; }

.content {
  margin-top: 30px; }

.content .content-container {
  margin: 0 auto;
  padding-top: 7px;
  background-color: white; }

.post-item {
  border-bottom: 1px solid #eee;
  padding-top: 13px;
  padding-bottom: 7px;
  position: relative; }
  .post-item .item-main {
    padding-left: 0px; }
  .post-item .avatar {
    position: absolute; }
    .post-item .avatar img {
      width: 40px;
      border-radius: 10px; }
  .post-item .item-mid {
    margin-left: 50px; }
    .post-item .item-mid .item-title {
      font-size: 18px;
      margin-bottom: 3px;
      word-wrap: break-word; }
    .post-item .item-mid .item-info {
      font-size: 11px;
      color: #9A9999; }
      .post-item .item-mid .item-info span {
        margin-right: 5px; }

.post-detail {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5; }
  .post-detail span {
    margin-right: 5px; }
  .post-detail .post-title {
    max-width: 500px;
    margin: 0; }
    .post-detail .post-title a {
      font-size: 24px;
      font-weight: 500;
      line-height: 30px; }
  .post-detail .post-info {
    color: gray; }

.post-reply span {
  margin-right: 5px; }
.post-reply .avatar {
  position: absolute; }
  .post-reply .avatar img {
    width: 40px; }
.post-reply .reply-main {
  margin-left: 50px; }
.post-reply .reply-item {
  margin-top: 10px;
  padding-bottom: 7px;
  border-bottom: 1px solid #e5e5e5; }
