body {
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica, "PingFang SC";
  color: #9A9999;
  font-size: 13px;
  margin: 0;
  background-color: #f7f7f7;
  font-size: 13px; }
  body a {
    color: #9A9999; }

a:focus, a:hover {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

.list-inline {
  padding-left: 0;
  list-style: none; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.cl::after {
  content: "";
  display: table;
  clear: both; }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; }

  .clear-xs {
    margin-left: 0px !important;
    margin-right: 0px !important; } }
.header {
  margin: 0 auto;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 2px 10px #dadbdc; }
  .header .header-container {
    margin: 0 30px; }
    .header .header-container .header-logo {
      position: relative;
      top: 50px;
      text-align: center;
      font-size: 14px;
      padding-left: 15px;
      padding-right: 15px;
      left: -30px;
      background-color: #238efa;
      line-height: 40px; }
      .header .header-container .header-logo a {
        color: #fff; }
    .header .header-container .header-nav {
      height: 70px;
      width: 100%;
      max-width: 324px; }
      .header .header-container .header-nav li {
        float: left;
        position: relative;
        width: 25%; }
        .header .header-container .header-nav li a {
          display: block;
          padding: 16px 0 20px;
          font-size: 14px;
          color: #9A9999;
          line-height: 30px;
          text-align: center;
          border-top: 4px solid transparent; }
        .header .header-container .header-nav li a:focus, .header .header-container .header-nav li a:hover {
          color: black;
          background-color: #fff;
          box-shadow: 0px -3px 2px rgba(0, 0, 0, 0.17); }
    .header .header-container .header-tip {
      line-height: 70px;
      float: right; }
      .header .header-container .header-tip .options a:focus, .header .header-container .header-tip .options a:hover {
        color: #238efa; }
      .header .header-container .header-tip .options li {
        float: left;
        margin-right: 10px; }
        .header .header-container .header-tip .options li img {
          width: 50px; }
        .header .header-container .header-tip .options li a {
          color: #238efa; }
      .header .header-container .header-tip .options .dropdown .dropdown-menu {
        font-size: 13px;
        min-width: 0;
        margin: 0px; }
      .header .header-container .header-tip .options .dropdown li {
        float: none;
        line-height: normal; }

@media (max-width: 767px) {
  .header-container {
    width: 100% !important; }
    .header-container .header-logo {
      margin: 0 auto;
      width: 50px;
      position: absolute;
      left: 0px !important; }
    .header-container .header-nav {
      padding-left: 50px;
      max-width: none; }
      .header-container .header-nav li {
        width: 25%; } }
.footer {
  background-color: white;
  margin-top: 20px;
  padding-top: 20px; }
  .footer .footer-container {
    margin-top: 10px; }
    .footer .footer-container dl {
      margin: 0;
      float: left;
      width: 240px;
      padding-left: 22px; }
      .footer .footer-container dl dt {
        font-size: 16px;
        color: #333;
        font-weight: 300;
        margin-bottom: 10px;
        padding-left: 16px;
        line-height: 1;
        border-left: 3px solid #d8d8d8; }
      .footer .footer-container dl dd {
        line-height: 2;
        font-size: 13px;
        margin-bottom: 4px;
        color: #666;
        margin-left: 20px; }
        .footer .footer-container dl dd a {
          color: #555555; }
    .footer .footer-container .footer-logo {
      margin-top: 10px;
      text-align: center; }

.content-container {
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 7px; }

.sidebar {
  padding-left: 0px; }

.current-topic {
  background-color: #238efa;
  float: left;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: -21px;
  width: 21px; }
  .current-topic span {
    padding-left: 5px;
    color: #fff;
    font-size: 11px;
    letter-spacing: 11px;
    display: block; }

.post-list {
  padding-left: 0px; }
  .post-list .card {
    box-shadow: inset 0 0 0 1px #e1e1e1; }
  .post-list .post-item {
    border-bottom: 1px solid #eee;
    padding-top: 17px;
    padding-bottom: 7px;
    position: relative;
    min-height: 68px; }
    .post-list .post-item a:hover {
      color: #6083a7; }
    .post-list .post-item .avatar {
      position: absolute; }
      .post-list .post-item .avatar img {
        width: 40px;
        border-radius: 10px; }
    .post-list .post-item .item-mid {
      margin-left: 50px;
      margin-right: 40px; }
      .post-list .post-item .item-mid .item-title {
        font-size: 18px;
        margin-bottom: 7px;
        word-wrap: break-word; }
      .post-list .post-item .item-mid .item-info {
        font-size: 11px; }
        .post-list .post-item .item-mid .item-info span {
          margin-right: 5px; }
          .post-list .post-item .item-mid .item-info span .username {
            color: #383838; }
          .post-list .post-item .item-mid .item-info span .cate {
            color: #6083a7; }
    .post-list .post-item .item-end {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 30px;
      line-height: 68px; }

.post-detail {
  padding-left: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5; }
  .post-detail .user-name {
    font-weight: bold;
    color: #383838; }
  .post-detail span {
    margin-right: 5px; }
  .post-detail .card {
    box-shadow: inset 0 0 0 1px #e1e1e1; }
    .post-detail .card a {
      color: #807e7e; }
  .post-detail .post-title {
    max-width: 500px;
    margin: 0; }
    .post-detail .post-title a {
      font-size: 24px;
      font-weight: 500;
      line-height: 30px;
      color: #5a5a5a; }
  .post-detail .post-info {
    margin-bottom: 10px; }
  .post-detail .post-function {
    margin-top: 20px;
    text-align: right; }
    .post-detail .post-function a:hover {
      color: rgba(251, 135, 135, 0.97) !important; }
    .post-detail .post-function span {
      padding-right: 2px; }
    .post-detail .post-function .fa {
      padding-right: 1px; }

.post-reply .avatar {
  position: absolute; }
  .post-reply .avatar img {
    width: 40px; }
.post-reply .reply-item {
  margin-top: 10px;
  padding-bottom: 7px;
  border-bottom: 1px solid #e5e5e5; }
  .post-reply .reply-item .reply-main {
    margin-left: 50px; }
.post-reply .reply-function {
  margin-top: 7px;
  text-align: right; }
  .post-reply .reply-function a:hover {
    color: rgba(251, 135, 135, 0.97); }
  .post-reply .reply-function span {
    padding-right: 2px; }
  .post-reply .reply-function .fa {
    padding-right: 1px; }

.content-container form {
  margin-bottom: 13px; }
  .content-container form label {
    font-size: 13px; }
  .content-container form .parsley-errors-list {
    list-style: none outside none;
    color: #d9534f;
    margin-left: 5px; }

.note-editor.note-frame {
  border: none;
  border-left: 1px solid #F3EEEE;
  border-right: 1px solid #F3EEEE; }
  .note-editor.note-frame p {
    margin-bottom: 0.3rem !important; }

.note-toolbar button {
  height: 30px; }

.custom-card.card {
  border: none !important; }
  .custom-card.card > .card-header {
    position: relative;
    padding: 0.5rem 1.25rem !important;
    border-bottom: none !important; }
  .custom-card.card > .card-header:after {
    content: "";
    width: 50%;
    height: 1px;
    background: #238efa;
    position: absolute;
    left: 0;
    bottom: 0px; }

.post-list .card-header a,
.post-detail .card-header a {
  margin: 0 3px; }
.post-list .card-header a.active,
.post-detail .card-header a.active {
  color: #238efa !important; }
.post-list .card-header a:hover,
.post-detail .card-header a:hover {
  color: #238efa !important; }

.card-header-all {
  display: none;
  width: 100%;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  padding: 5px;
  border-left: 1px solid #238efa;
  border-right: 1px solid #238efa;
  border-bottom: 1px solid #238efa; }
  .card-header-all h3 {
    font-size: 14px;
    line-height: 30px;
    border-bottom: 1px solid #e8e8e8; }
  .card-header-all .card-header-all-cate {
    padding: 5px;
    border-bottom: 1px solid #e8e8e8; }
    .card-header-all .card-header-all-cate h4 {
      font-size: 13px; }
    .card-header-all .card-header-all-cate a {
      color: #807e7e; }
    .card-header-all .card-header-all-cate a:hover {
      color: #238efa; }
  .card-header-all .card-header-all-cate:last-of-type {
    border-bottom: none; }

.card-header-all:hover {
  display: block; }

.system-status-card li {
  line-height: 20px; }
.system-status-card span {
  color: #238efa;
  font-weight: bold;
  margin-left: 10px;
  font-size: 13px; }
.system-status-card dt {
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 30px;
  padding-left: 0px;
  border-bottom: 1px dashed #eee; }
.system-status-card dd {
  color: #238efa;
  font-weight: bold;
  margin-bottom: 0px;
  line-height: 30px;
  padding-left: 0px;
  border-bottom: 1px dashed #eee; }

.register-card {
  text-align: center; }

.user-profile-html .col-md-3 {
  padding-right: 0px; }

.user-profile-widget {
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15); }
  .user-profile-widget img {
    width: 100%;
    margin: 4px 0px 15px;
    min-height: 100px;
    border: 1px dashed #eee; }
  .user-profile-widget .row {
    margin-left: 0px;
    margin-right: 0px; }
  .user-profile-widget dt {
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
    padding-left: 3px;
    border-bottom: 1px dashed #d8d6d6; }
  .user-profile-widget dd {
    margin-bottom: 0px;
    line-height: 30px;
    padding-left: 0px;
    border-bottom: 1px dashed #d8d6d6; }

.user-profile-trend {
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  padding-left: 0px; }
  .user-profile-trend li {
    color: #888; }
    .user-profile-trend li a {
      color: #888; }
    .user-profile-trend li a:hover {
      color: #238efa; }

.user-profile-card .profile-card-head {
  front-size: 14px;
  text-decoration: underline;
  text-align: center;
  line-height: 40px;
  padding: 5px;
  background-color: #fbfbfb; }
.user-profile-card .profile-card-body {
  padding-left: 10px;
  padding-right: 10px; }
  .user-profile-card .profile-card-body li {
    line-height: 30px;
    border-bottom: 1px dashed #d8d6d6; }

.user-profile-edit-html .col-md-3 {
  padding-right: 0px; }

.user-avatar-edit {
  text-align: center;
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15); }
  .user-avatar-edit img {
    width: 100%;
    margin: 4px 0px 15px;
    min-height: 100px;
    border: 1px dashed #eee; }
  .user-avatar-edit .select-avatar {
    position: relative;
    overflow: hidden;
    margin: 10px; }
  .user-avatar-edit .select-avatar input.file-input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0); }

.user-profile-edit {
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15); }
  .user-profile-edit a {
    color: #888; }
  .user-profile-edit a:hover {
    color: #238efa; }
  .user-profile-edit .user-profile-edit-body {
    padding-bottom: 10px; }
  .user-profile-edit form {
    margin-top: 10px; }
    .user-profile-edit form label {
      text-align: center; }
    .user-profile-edit form .form-control {
      font-size: 13px; }

.emoji {
  display: inline-block;
  font-size: 20px;
  width: 20px;
  height: 20px;
  margin: 0 2px;
  vertical-align: text-bottom; }

.post-new-html .emojis {
  z-index: 1;
  display: none;
  position: absolute;
  width: 107px;
  margin-top: 5px;
  padding: 5px;
  padding-bottom: 0;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22); }
